In [1]:
import pandas as pd
pd.options.display.float_format = '{:20,.2f}'.format

from IPython.display import HTML
import numpy as np
import plotly
import plotly.graph_objs as go

plotly.offline.init_notebook_mode(connected=True)

## Run the below cell if you want to hide all the code cells

In [165]:
HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
The raw code for this IPython notebook is by default hidden for easier reading.
To toggle on/off the raw code, click <a href="javascript:code_toggle()">here</a>.''')

## Summary of what I did:
    
1. Load the data

2. Cleaning and preparing the Data:
    - get ride of trips with total amount <=0.0 and trip_distance <=0.0
    - Keep trips with only  valid values in extra of [0.00,0.50,1.00, 4.50] Assuming the 4.50 is the overnight charge
    - Keep trips with only  valid values in mta_tax of [0.00 and 0.50]
    - get ride of the trips with more than $1000 in total amount. unrealistic
    - Create trip_duration var
    - get ride of trips with durations above 5h 
    - get ride of trips with trip_distance > 0 and trip_duration = 0
    - Loading the Zone Dict: Replacing the __LocationID by the Zone Name
    - get the day of the pickup
    - get the hour of the pickup
    - get the date+day of the pickup

3. Now let explore the dataset
## let see the data in 1-D : through trip date

### Observation #1
Thursday and Friday are the most busy
Monday and Sunday are the least busy

### Observation #2
Wednesday and Thursday have the most amount and tips per trip
Saturday have the least amount and tip per trip (maybe more taxi on road? more Competition) or less people?

## Now let see the data in 2-D: day of the week and hour of the day

### Observation #3
busy hours are from 5pm to 10pm
2nd busy 8am-9am: For weekdays only
3rd busy 12pm-3pm
the effect of weekend (Saturday) staring from 9pm it become busier, peaked around midnight and then gradually decreased until 5am
on weekdays people are on streets early peaked around 8am
on weekends people are late on street peaked around 12pm

### Observation #4
most rewarding (amount per trip and tip per trip) hours
 4am-5am for weekdays
 5am-6am for weekends
2nd best 1pm-4pm for all days
3rd best 
 10pm - 1am workdays
 10pm -11pm weekends


## Now let see the data by zones

### Observation #5
Using the number of trips in each zone, Most busy area are: LaGuardia Airport, JFK Airport, Midtown, Times Sq/Theatre District, Union Sq, Upper East Side.

Since some zones may have few large amount trip, using only the number of trips to compute the most busy zones may not be very accurate. Therefore we follow the below approach:
- create a new var for each zone by dividing the trips number for each zone by the total nuumber of trips in all zones. This var will be used as a weight for each zone
- then multiple this weight by the average amount per trip and avergae tips per trip Separately. 
- finally sort


### Observation #5
based on the average trip amount per trip and average tips per trip, Most rewarded area are: LaGuardia Airport, JFK Airport, Midtown, Times Sq/Theatre District,

## let see the zone data in 2-D : zone and trip duration


### Observations for Midtown center
Busy days and hours:
Thursday and Friday
11pm-3pm | 5pm-7pm | 9pm-10pm

Most rewarding hours:
workdays: 3am-5am | 5pm - 7pm
weekends: 5am-7am

### Observations for Upper East Side South:
Busy days and hours :
Tuesday, Thursday and Friday
2pm-3pm | 5pm-7pm |
8am-9am only for workdays

Most rewarding hours:
Most rewarding days Mondays, Wednesday
workdays: 3am-5am
weekends: 5am-6am

### Observations for LaGuardia Airport and assuming JFK is the same
Busy days and hours:
Workdays (Thursday, Friday and Monday)
6pm-10pm for workdays and Sundays
9am-11am only for workdays

Most rewarding hours:
workdays: 7am-5pm
weekends: 11am-5pm

### Final Observation
Comparing taking rides from an airport zone (JFK and LaGuardia) with Manhattan
airports ride are more rewarding (tips and amounts) but take longer time to finish


## Based on the above observation, my proposed plan as a taxi driver working 10 hours a week:

on weekdays (Monday, Thursday, and Friday): work in Manhattan (Midtown center + Upper East Side South) from 3am-5am
then head to the airport area (ex. LaGuardia) and work from 1pm-3pm

on weekend (Sunday): work in Upper East Side South from 5am-6am and in Upper East Side South from 6am-7am
and if i want more hours, I will head to the LaGuardia airport after 7pm to work couple hours

## The Reasoning behind this plan:
- avoiding the busiest hours (more taxi on the street) and focusing on the hours where there are less taxi and therefore people are willing to tips more while also driving in less Crowded streets

- following this plan will result in covering both the Manhattan and airports zones in the most rewarding hours (more tips and total amount). Also, by diversifying working in both zone, I will take the advandage of the more rewarding but yet longest dutation trip from the airports


## Assumptions:
- JFK airport data follow the same trends as LaGuardia airport data
- Since we only used June 2017 data, we are assuming other months following the same trends
- Since the total amount of each trip will be calucalte based on a system (duration and length of a trip), we used the tips amount as a measurement of a zone riders' generosity. Which we consider as an extra profit of a trip.

## Possible ways to enrich this dataset
- add whether data to see if rain/snow/temp have an effect
- add the excat location of the pick up (longitude and latitude) and then applying some clustering algorithm to see if you could find clusters of more details areas than the PULOCATION zones. Then, we following the same approach to identified a more exact location to work in.
- Identify the days of holiday/celebrations or sport/social events and thier locations in NYC and see if there they affects the amount/tips of trips

## Load and Exploring the data

In [57]:

yellow_tripdata_df = pd.read_csv('/Users/zaid/Downloads/yellow_tripdata_2017-06.csv')

In [58]:
yellow_tripdata_df.shape

(9656993, 17)

## Preparing the Data

### Show me any trips with negative values in distance and amount

In [93]:
yellow_tripdata_df.loc[(yellow_tripdata_df['trip_distance']<=0.0) &(yellow_tripdata_df['total_amount']<=0.0)]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
8550,1,2017-06-09 18:51:10,2017-06-09 18:51:10,1,0.00,5,N,164,264,2,0.00,0.00,0.00,0.00,0.00,0.00,0.00
10551,2,2017-06-29 16:29:01,2017-06-29 16:29:05,2,0.00,1,N,262,262,4,-2.50,-1.00,-0.50,0.00,0.00,-0.30,-4.30
26780,1,2017-06-09 20:39:01,2017-06-09 20:39:01,1,0.00,5,N,249,264,2,0.00,0.00,0.00,0.00,0.00,0.00,0.00
33426,2,2017-06-29 16:38:08,2017-06-30 13:57:53,1,0.00,2,N,132,132,4,-52.00,-4.50,-0.50,0.00,-5.76,-0.30,-63.06
63543,2,2017-06-29 16:47:06,2017-06-29 16:47:16,5,0.00,2,N,164,164,3,-52.00,-4.50,-0.50,0.00,0.00,-0.30,-57.30
70077,1,2017-06-10 01:31:46,2017-06-10 01:31:46,1,0.00,5,N,107,264,2,0.00,0.00,0.00,0.00,0.00,0.00,0.00
76120,1,2017-06-10 02:31:10,2017-06-10 02:31:10,1,0.00,5,Y,141,264,2,0.00,0.00,0.00,0.00,0.00,0.00,0.00
78941,1,2017-06-10 02:59:34,2017-06-10 02:59:34,1,0.00,5,N,48,264,2,0.00,0.00,0.00,0.00,0.00,0.00,0.00
83280,2,2017-06-29 16:52:00,2017-06-29 16:52:06,1,0.00,1,N,264,132,4,-2.50,-1.00,-0.50,0.00,0.00,-0.30,-4.30
85102,1,2017-06-10 04:18:46,2017-06-10 04:18:46,1,0.00,5,N,256,264,2,0.00,0.00,0.00,0.00,0.00,0.00,0.00
85651,1,2017-06-10 04:29:43,2017-06-10 04:29:43,1,0.00,5,N,87,264,2,0.00,0.00,0.00,0.00,0.00,0.00,0.00
92174,1,2017-06-10 07:41:58,2017-06-10 07:41:58,1,0.00,5,N,260,264,2,0.00,0.00,0.00,0.00,0.00,0.00,0.00
130147,1,2017-06-10 13:38:40,2017-06-10 13:38:40,1,0.00,5,N,141,264,2,0.00,0.00,0.00,0.00,0.00,0.00,0.00
134884,1,2017-06-10 14:13:08,2017-06-10 14:13:08,1,0.00,5,N,163,264,2,0.00,0.00,0.00,0.00,0.00,0.00,0.00
137701,1,2017-06-10 14:35:23,2017-06-10 14:35:23,1,0.00,5,Y,249,264,2,0.00,0.00,0.00,0.00,0.00,0.00,0.00
156020,1,2017-06-10 16:24:26,2017-06-10 16:24:26,1,0.00,5,N,142,264,2,0.00,0.00,0.00,0.00,0.00,0.00,0.00
158021,1,2017-06-10 16:40:36,2017-06-10 16:40:36,1,0.00,99,Y,264,264,2,0.00,0.00,0.00,0.00,0.00,0.00,0.00
172335,1,2017-06-10 17:57:54,2017-06-10 17:57:54,1,0.00,5,N,161,264,2,0.00,0.00,0.00,0.00,0.00,0.00,0.00
184107,1,2017-06-10 18:48:53,2017-06-10 18:48:53,1,0.00,5,N,142,264,2,0.00,0.00,0.00,0.00,0.00,0.00,0.00
188590,1,2017-06-10 19:18:36,2017-06-10 19:18:36,1,0.00,5,N,163,264,2,0.00,0.00,0.00,0.00,0.00,0.00,0.00
189021,1,2017-06-10 19:21:30,2017-06-10 19:21:30,1,0.00,5,N,163,264,2,0.00,0.00,0.00,0.00,0.00,0.00,0.00
195315,1,2017-06-10 20:02:50,2017-06-10 20:02:50,1,0.00,5,N,161,264,2,0.00,0.00,0.00,0.00,0.00,0.00,0.00
204357,2,2017-06-29 18:10:19,2017-06-29 18:11:08,1,0.00,1,N,193,193,1,0.00,0.00,0.00,0.00,0.00,0.00,0.00
205241,2,2017-06-29 18:13:23,2017-06-29 18:13:28,3,0.00,2,N,264,224,3,-52.00,-4.50,-0.50,0.00,0.00,-0.30,-57.30
207075,1,2017-06-10 20:57:59,2017-06-10 20:57:59,1,0.00,5,N,237,264,2,0.00,0.00,0.00,0.00,0.00,0.00,0.00
218118,1,2017-06-10 22:14:12,2017-06-10 22:14:12,1,0.00,5,N,74,264,2,0.00,0.00,0.00,0.00,0.00,0.00,0.00
226949,2,2017-06-29 18:24:35,2017-06-29 18:24:42,1,0.00,1,N,230,230,3,-2.50,-1.00,-0.50,0.00,0.00,-0.30,-4.30
243772,1,2017-06-29 18:50:17,2017-06-29 18:50:17,1,0.00,5,N,234,264,2,0.00,0.00,0.00,0.00,0.00,0.00,0.00
245190,2,2017-06-29 18:54:14,2017-06-29 18:54:37,1,0.00,1,N,193,193,1,0.00,0.00,0.00,0.00,0.00,0.00,0.00
247823,2,2017-06-01 00:16:54,2017-06-01 00:16:54,1,0.00,1,N,264,193,1,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9552297,2,2017-06-11 12:29:45,2017-06-11 12:30:58,1,0.00,1,N,132,132,4,-2.50,0.00,-0.50,0.00,0.00,-0.30,-3.30
9558978,2,2017-06-11 13:16:53,2017-06-11 13:16:58,5,0.00,1,N,75,75,3,-2.50,0.00,-0.50,0.00,0.00,-0.30,-3.30
9563553,2,2017-06-11 13:49:55,2017-06-11 13:50:06,1,0.00,1,N,75,75,4,-2.50,0.00,-0.50,0.00,0.00,-0.30,-3.30
9564347,2,2017-06-11 13:55:03,2017-06-11 13:57:53,1,0.00,1,N,141,141,3,-2.50,0.00,-0.50,0.00,0.00,-0.30,-3.30
9580729,2,2017-06-11 15:52:20,2017-06-11 15:53:02,1,0.00,1,N,193,193,1,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9581505,2,2017-06-11 15:58:09,2017-06-11 16:00:44,1,0.00,5,N,193,193,4,-0.05,0.00,0.00,-0.07,0.00,-0.30,-0.42
9584001,2,2017-06-11 16:17:14,2017-06-11 16:17:43,1,0.00,1,N,193,193,1,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9586529,2,2017-06-11 16:36:12,2017-06-11 16:36:51,1,0.00,1,N,193,7,1,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9601593,2,2017-06-11 18:20:18,2017-06-11 18:20:40,1,0.00,1,N,193,193,1,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9602722,2,2017-06-11 18:27:56,2017-06-11 18:28:17,1,0.00,1,N,193,193,1,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9606801,2,2017-06-11 18:55:39,2017-06-11 19:02:37,2,0.00,2,N,132,132,3,-52.00,0.00,-0.50,0.00,-5.76,-0.30,-58.56
9606937,2,2017-06-11 18:56:41,2017-06-11 18:56:51,1,0.00,1,N,236,236,3,-2.50,0.00,-0.50,0.00,0.00,-0.30,-3.30
9613407,2,2017-06-11 19:41:24,2017-06-11 19:42:34,1,0.00,1,N,264,193,1,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9613629,2,2017-06-11 19:43:14,2017-06-11 19:43:16,1,0.00,1,N,264,193,1,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9613769,2,2017-06-11 19:44:20,2017-06-11 19:46:08,1,0.00,1,N,264,193,1,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9615798,2,2017-06-11 19:59:38,2017-06-11 19:59:45,5,0.00,1,N,264,26,3,-2.50,0.00,-0.50,0.00,0.00,-0.30,-3.30
9618893,2,2017-06-11 20:25:15,2017-06-11 20:25:19,6,0.00,1,N,264,265,3,-2.50,-0.50,-0.50,0.00,0.00,-0.30,-3.80
9630595,2,2017-06-11 22:00:49,2017-06-11 22:01:09,2,0.00,1,N,230,230,4,-2.50,-0.50,-0.50,0.00,0.00,-0.30,-3.80
9635703,2,2017-06-11 22:46:26,2017-06-11 22:46:47,1,0.00,1,N,193,7,1,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9639480,2,2017-06-11 23:21:16,2017-06-11 23:21:18,1,0.00,1,N,264,193,1,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9639553,2,2017-06-11 23:21:57,2017-06-11 23:21:59,1,0.00,1,N,193,193,1,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9639628,2,2017-06-11 23:22:39,2017-06-11 23:23:05,1,0.00,1,N,264,193,1,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9642164,2,2017-06-11 23:50:21,2017-06-11 23:50:25,1,0.00,1,N,193,193,1,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9642904,2,2017-06-12 02:47:23,2017-06-12 22:48:13,1,0.00,5,N,170,170,3,-5.00,0.00,0.00,0.00,0.00,-0.30,-5.30
9652574,2,2017-06-29 16:05:43,2017-06-29 16:06:19,1,0.00,1,N,7,7,1,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9652974,2,2017-06-29 16:07:16,2017-06-29 16:09:22,1,0.00,2,N,170,170,4,-52.00,-4.50,-0.50,0.00,0.00,-0.30,-57.30
9654242,1,2017-06-29 16:12:44,2017-06-29 16:12:44,1,0.00,5,N,138,264,2,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9656043,2,2017-06-29 16:20:44,2017-06-29 16:23:11,1,0.00,1,N,193,193,1,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9656586,2,2017-06-29 16:23:10,2017-06-29 16:23:22,1,0.00,1,N,260,260,4,-2.50,-1.00,-0.50,0.00,0.00,-0.30,-4.30
9656760,2,2017-06-29 16:23:57,2017-06-29 16:24:08,1,0.00,2,N,161,161,3,-52.00,-4.50,-0.50,0.00,0.00,-0.30,-57.30

## Action 

## get ride of the above : total amount <=0.0 and trip_distance <=0.0

In [60]:
sub_df = yellow_tripdata_df.loc[(yellow_tripdata_df['trip_distance']>0.0) & (yellow_tripdata_df['total_amount']>0.0)]

In [61]:
sub_df.shape

(9588529, 17)

## extra field should be one of [0.00,0.50,1.00, 4.50]

In [66]:
sub_df['extra'].value_counts().sort_index()

-50.56          1
-31.61          1
 -0.49          1
 -0.45          1
 -0.35          1
  0.00    4911749
  0.02         16
  0.30        169
  0.50    3074509
  0.60          1
  0.80         63
  1.00    1561905
  1.01          1
  1.30         98
  1.50         12
  2.00          2
  2.50          1
  4.50      39987
  4.54          5
  4.80          6
Name: extra, dtype: int64

## Action
## Keep only the valid values of [0.00,0.50,1.00, 4.50] Assuming the 4.50 is the overnight charge

In [67]:
sub_df = sub_df[sub_df['extra'].isin([0.00,0.50,1.00,4.50])]
sub_df.shape

(9588150, 17)

## mta_tax field should be one of [0.00,0.50]

In [69]:
sub_df['mta_tax'].value_counts().sort_index()

 0.00      32386
 0.50    9555112
 0.85        651
53.80          1
Name: mta_tax, dtype: int64

## Action
## Keep only the valid values of [0.00 and 0.50]

In [70]:
sub_df = sub_df[sub_df['mta_tax'].isin([0.00,0.50])]
sub_df.shape

(9587498, 17)

## Show me any trips with total_amount >= $1000

In [74]:
sub_df[sub_df['total_amount']>=1000.00]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
4201741,2,2017-06-16 11:47:32,2017-06-19 08:58:12,1,"4,942.40",1,N,193,193,2,"9,999.99",0.00,0.00,0.00,0.00,0.00,"9,999.99"
5203847,2,2017-06-19 09:02:27,2017-06-20 15:20:43,1,"6,545.78",1,N,193,193,2,"9,999.99",0.00,0.00,0.00,0.00,0.00,"9,999.99"
5640037,2,2017-06-20 15:21:21,2017-06-22 11:19:32,1,"9,496.98",1,N,193,193,2,"9,999.99",0.00,0.00,0.00,0.00,0.00,"9,999.99"
5773420,1,2017-06-20 22:34:58,2017-06-20 22:39:16,1,0.80,1,N,141,141,2,"630,461.82",0.50,0.50,0.00,0.00,0.30,"630,463.12"
9218988,2,2017-06-09 16:01:22,2017-06-10 09:48:14,1,"4,208.94",1,N,193,193,2,"9,999.99",0.00,0.00,0.00,0.00,0.00,"9,999.99"

## Action
## get ride of the above records | unrealistic

In [75]:
sub_df= sub_df[sub_df['total_amount']<1000.00]
sub_df.shape

(9587493, 17)

## Create trip duration

In [76]:
sub_df['tpep_pickup_datetime'] = pd.to_datetime(sub_df['tpep_pickup_datetime'])

sub_df['tpep_dropoff_datetime'] = pd.to_datetime(sub_df['tpep_dropoff_datetime'])

In [77]:
def get_trip_duration(df):
    return df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']

sub_df['trip_duration'] = sub_df['tpep_dropoff_datetime'] - sub_df['tpep_pickup_datetime']
sub_df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,trip_duration
0,2,2017-06-08 07:52:31,2017-06-08 08:01:32,6,1.03,1,N,161,140,1,7.50,1.00,0.50,1.86,0.00,0.30,11.16,00:09:01
1,2,2017-06-08 08:08:18,2017-06-08 08:14:00,6,1.03,1,N,162,233,1,6.00,1.00,0.50,2.34,0.00,0.30,10.14,00:05:42
2,2,2017-06-08 08:16:49,2017-06-08 15:43:22,6,5.63,1,N,137,41,2,21.50,1.00,0.50,0.00,0.00,0.30,23.30,07:26:33
3,2,2017-06-29 15:52:35,2017-06-29 16:03:27,6,1.43,1,N,142,48,1,8.50,1.00,0.50,0.88,0.00,0.30,11.18,00:10:52
4,1,2017-06-01 00:00:00,2017-06-01 00:03:43,1,0.60,1,N,140,141,1,4.50,0.50,0.50,2.00,0.00,0.30,7.80,00:03:43

In [78]:
sub_df['trip_duration'].min()

Timedelta('0 days 00:00:00')

In [79]:
sub_df['trip_duration'].max()

Timedelta('10 days 00:07:39')

## How many trips with duration above 5 hours

In [85]:
sub_df[(sub_df['trip_duration'].dt.days * 24 + sub_df['trip_duration'].dt.seconds/3600)>5].shape

(14804, 18)

## Their mean

In [86]:
sub_df[(sub_df['trip_duration'].dt.days * 24 + sub_df['trip_duration'].dt.seconds/3600)>5]['total_amount'].mean()

20.196617130502183

## get ride of trips with durations above 5h |

In [88]:
sub_df = sub_df[(sub_df['trip_duration'].dt.days * 24 + sub_df['trip_duration'].dt.seconds/3600)<5]
sub_df.shape

(9572689, 18)

## Show me trips with trip_distance > 0 and trip duration = 0

In [98]:
sub_df.loc[(sub_df['trip_distance']>0.0) & ((sub_df['trip_duration'].dt.days * 24 * 60 * 60 + sub_df['trip_duration'].dt.seconds) == 0)]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,trip_duration
4,2,2017-06-01 00:00:00,2017-06-01 00:00:00,2,17.57,2,N,132,74,1,52.00,0.00,0.50,11.71,5.76,0.30,70.27,0 days
5,2,2017-06-01 00:00:00,2017-06-01 00:00:00,5,13.34,1,N,138,249,1,47.00,0.00,0.50,10.71,5.76,0.30,64.27,0 days
6,2,2017-06-01 00:00:00,2017-06-01 00:00:00,1,18.08,2,N,132,230,2,52.00,4.50,0.50,0.00,5.76,0.30,63.06,0 days
245023,2,2017-06-01 00:12:22,2017-06-01 00:12:22,1,11.20,1,N,138,230,1,34.00,0.50,0.50,8.21,5.76,0.30,49.27,0 days
265467,2,2017-06-01 05:33:32,2017-06-01 05:33:32,1,0.18,1,N,50,246,2,2.50,0.50,0.50,0.00,0.00,0.30,3.80,0 days
417110,2,2017-06-01 15:12:09,2017-06-01 15:12:09,1,10.83,1,N,138,233,1,40.00,0.00,0.50,11.64,5.76,0.30,58.20,0 days
424077,2,2017-06-01 15:35:02,2017-06-01 15:35:02,1,0.06,1,N,28,28,2,2.50,0.00,0.50,0.00,0.00,0.30,3.30,0 days
440567,2,2017-06-01 16:36:10,2017-06-01 16:36:10,1,12.21,1,N,138,170,2,43.50,0.00,0.50,0.00,5.76,0.30,50.06,0 days
591995,2,2017-06-01 23:16:41,2017-06-01 23:16:41,1,0.05,2,N,142,142,1,52.00,0.00,0.50,10.56,0.00,0.30,63.36,0 days
604132,2,2017-06-01 23:56:57,2017-06-01 23:56:57,1,2.63,1,N,114,163,1,10.00,0.50,0.50,2.26,0.00,0.30,13.56,0 days
605612,2,2017-06-02 00:02:41,2017-06-02 00:02:41,2,1.09,1,N,162,48,1,6.00,0.50,0.50,1.82,0.00,0.30,9.12,0 days
606811,2,2017-06-02 00:07:34,2017-06-02 00:07:34,2,11.88,1,N,229,259,2,38.50,0.50,0.50,0.00,0.00,0.30,39.80,0 days
608254,2,2017-06-02 00:13:43,2017-06-02 00:13:43,1,9.82,1,N,138,4,1,31.50,0.50,0.50,8.20,0.00,0.30,41.00,0 days
608586,2,2017-06-02 00:15:01,2017-06-02 00:15:01,1,19.92,2,N,132,158,1,52.00,0.00,0.50,13.20,0.00,0.30,66.00,0 days
637591,2,2017-06-02 04:53:38,2017-06-02 04:53:38,1,0.75,5,N,264,132,1,59.00,0.00,0.00,11.80,0.00,0.00,70.80,0 days
780693,2,2017-06-02 12:58:00,2017-06-02 12:58:00,1,0.27,5,N,264,132,1,63.00,0.00,0.00,0.00,0.00,0.00,63.00,0 days
855665,2,2017-06-02 17:30:49,2017-06-02 17:30:49,2,11.36,1,N,138,233,1,41.00,1.00,0.50,9.71,5.76,0.30,58.27,0 days
982752,2,2017-06-02 23:43:21,2017-06-02 23:43:21,5,18.56,2,N,132,48,2,52.00,0.00,0.50,0.00,5.76,0.30,58.56,0 days
988156,2,2017-06-03 00:00:00,2017-06-03 00:00:00,2,1.36,1,N,79,137,2,8.00,0.50,0.50,0.00,0.00,0.30,9.30,0 days
988157,2,2017-06-03 00:00:00,2017-06-03 00:00:00,5,1.62,1,N,93,264,2,8.50,0.00,0.50,0.00,0.00,0.30,9.30,0 days
988158,2,2017-06-03 00:00:00,2017-06-03 00:00:00,1,9.98,1,N,138,48,1,42.00,0.50,0.50,9.81,5.76,0.30,58.87,0 days
988243,2,2017-06-03 00:00:18,2017-06-03 00:00:18,2,19.26,2,N,132,68,1,52.00,0.00,0.50,11.71,5.76,0.30,70.27,0 days
989164,2,2017-06-03 00:03:05,2017-06-03 00:03:05,1,0.96,1,N,100,164,2,7.00,0.50,0.50,0.00,0.00,0.30,8.30,0 days
989476,2,2017-06-03 00:03:58,2017-06-03 00:03:58,2,16.24,1,N,246,254,1,49.00,0.50,0.50,10.06,0.00,0.30,62.31,0 days
989680,2,2017-06-03 00:04:37,2017-06-03 00:04:37,1,1.92,1,N,151,239,2,7.50,0.50,0.50,0.00,0.00,0.30,8.80,0 days
992458,2,2017-06-03 00:11:59,2017-06-03 00:11:59,5,20.15,2,N,132,238,1,52.00,0.00,0.50,8.00,5.76,0.30,66.56,0 days
994702,2,2017-06-03 00:18:51,2017-06-03 00:18:51,1,18.66,2,N,132,90,1,52.00,0.00,0.50,11.71,5.76,0.30,70.27,0 days
997776,2,2017-06-03 00:28:31,2017-06-03 00:28:31,1,13.15,1,N,230,131,1,38.00,0.50,0.50,9.01,5.76,0.30,54.07,0 days
1299276,2,2017-06-03 20:24:59,2017-06-03 20:24:59,1,0.03,2,N,264,141,1,52.00,0.00,0.50,8.00,0.00,0.30,60.80,0 days
1379745,2,2017-06-04 00:00:00,2017-06-04 00:00:00,1,0.65,1,N,114,144,2,6.50,0.00,0.50,0.00,0.00,0.30,7.30,0 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9038402,2,2017-06-09 00:15:00,2017-06-09 00:15:00,1,6.10,1,N,162,225,1,25.00,0.50,0.50,4.00,0.00,0.30,30.30,0 days
9039982,2,2017-06-09 00:28:11,2017-06-09 00:28:11,2,7.07,1,N,263,129,1,24.00,0.50,0.50,2.00,0.00,0.30,27.30,0 days
9120916,2,2017-06-09 14:00:33,2017-06-09 14:00:33,1,10.37,1,N,239,138,1,43.00,0.00,0.50,9.91,5.76,0.30,59.47,0 days
9146873,2,2017-06-09 17:02:53,2017-06-09 17:02:53,2,7.56,1,N,138,264,2,35.50,1.00,0.50,0.00,5.76,0.30,43.06,0 days
9217729,2,2017-06-09 23:47:02,2017-06-09 23:47:02,1,18.50,1,N,237,22,1,50.50,0.50,0.50,10.36,0.00,0.30,62.16,0 days
9219632,2,2017-06-09 23:58:38,2017-06-09 23:58:38,1,13.42,1,N,229,215,1,40.00,0.50,0.50,5.00,0.00,0.30,46.30,0 days
9219788,2,2017-06-09 23:59:38,2017-06-09 23:59:38,1,9.28,1,N,224,257,2,32.00,0.50,0.50,0.00,0.00,0.30,33.30,0 days
9219843,2,2017-06-10 00:00:00,2017-06-10 00:00:00,1,20.46,2,N,132,237,1,52.00,0.00,0.50,11.71,5.76,0.30,70.27,0 days
9219844,2,2017-06-10 00:00:00,2017-06-10 00:00:00,4,0.81,1,N,43,263,1,4.50,0.00,0.50,0.80,0.00,0.30,6.10,0 days
9219845,2,2017-06-10 00:00:00,2017-06-10 00:00:00,1,6.87,1,N,263,148,1,24.00,0.50,0.50,3.80,0.00,0.30,29.10,0 days
9220282,2,2017-06-10 00:02:44,2017-06-10 00:02:44,1,1.12,1,N,163,50,1,7.50,0.50,0.50,2.00,0.00,0.30,10.80,0 days
9221075,2,2017-06-10 00:07:07,2017-06-10 00:07:07,1,17.33,2,N,132,162,1,52.00,0.00,0.50,0.00,5.76,0.30,58.56,0 days
9222301,2,2017-06-10 00:13:30,2017-06-10 00:13:30,1,1.45,1,N,68,137,1,8.50,0.50,0.50,2.00,0.00,0.30,11.80,0 days
9222752,2,2017-06-10 00:15:55,2017-06-10 00:15:55,3,5.93,1,N,230,223,1,23.00,0.50,0.50,2.00,0.00,0.30,26.30,0 days
9224270,2,2017-06-10 00:24:25,2017-06-10 00:24:25,1,3.64,1,N,79,163,1,17.00,0.50,0.50,5.49,0.00,0.30,23.79,0 days
9225383,2,2017-06-10 00:30:49,2017-06-10 00:30:49,1,15.63,1,N,48,215,1,53.50,0.50,0.50,0.00,0.00,0.30,54.80,0 days
9232235,2,2017-06-10 01:15:09,2017-06-10 01:15:09,1,14.09,1,N,37,11,1,51.50,0.50,0.50,5.28,0.00,0.30,58.08,0 days
9402018,2,2017-06-10 23:52:49,2017-06-10 23:52:49,1,14.40,1,N,249,61,2,49.50,0.50,0.50,0.00,0.00,0.30,50.80,0 days
9402577,2,2017-06-10 23:56:08,2017-06-10 23:56:08,1,3.59,1,N,144,142,1,15.50,0.50,0.50,2.00,0.00,0.30,18.80,0 days
9403273,2,2017-06-11 00:00:00,2017-06-11 00:00:00,1,16.97,1,N,132,80,1,51.00,0.00,0.50,5.18,0.00,0.30,56.98,0 days
9403573,2,2017-06-11 00:01:49,2017-06-11 00:01:49,1,10.36,1,N,132,39,2,31.00,0.50,0.50,0.00,0.00,0.30,32.30,0 days
9404531,2,2017-06-11 00:07:44,2017-06-11 00:07:44,5,17.80,2,N,132,162,1,52.00,0.00,0.50,11.71,5.76,0.30,70.27,0 days
9405178,2,2017-06-11 00:11:17,2017-06-11 00:11:17,1,5.39,1,N,79,145,1,21.50,0.50,0.50,4.56,0.00,0.30,27.36,0 days
9409486,2,2017-06-11 00:38:58,2017-06-11 00:38:58,1,10.39,1,N,164,95,1,36.50,0.50,0.50,8.71,5.76,0.30,52.27,0 days
9412093,2,2017-06-11 00:56:44,2017-06-11 00:56:44,1,2.66,1,N,264,264,1,13.00,0.50,0.50,3.58,0.00,0.30,17.88,0 days
9486182,2,2017-06-11 14:31:42,2017-06-11 14:31:42,1,12.34,1,N,138,230,1,46.50,0.00,0.50,10.61,5.76,0.30,63.67,0 days
9527882,2,2017-06-11 19:28:56,2017-06-11 19:28:56,1,0.01,2,N,264,79,1,52.00,0.00,0.50,10.00,0.00,0.30,62.80,0 days
9536117,2,2017-06-11 20:35:57,2017-06-11 20:35:57,1,3.97,1,N,233,145,2,644.50,0.50,0.50,0.00,0.00,0.30,645.80,0 days
9558753,2,2017-06-12 00:35:12,2017-06-12 00:35:12,1,23.76,2,N,132,142,2,52.00,0.00,0.50,0.00,5.76,0.30,58.56,0 days
9558758,2,2017-06-12 04:05:31,2017-06-12 04:05:31,1,101.50,2,N,132,132,2,52.00,0.00,0.50,0.00,5.76,0.30,58.56,0 days

## get ride of trips with trip_distance > 0 and trip duration = 0

In [102]:
sub_df = sub_df.loc[~((sub_df['trip_distance']>0.0) & ((sub_df['trip_duration'].dt.days * 24 * 60 * 60 + sub_df['trip_duration'].dt.seconds) == 0))]
sub_df.shape

(9572386, 18)

In [103]:
sub_df = sub_df.reset_index(drop=True)

## Loading the Zone Dict

In [105]:
zone_lookup_df = pd.read_csv('/Users/zaid/Downloads/taxi+_zone_lookup.csv')

In [106]:
zone_lookup_df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [107]:
zone_lookup_df = zone_lookup_df.set_index('LocationID')

In [108]:
zone_lookup_dict = zone_lookup_df['Zone'].to_dict()

## Replacing the __LocationID by the Zone Name

In [110]:
sub_df['PULocationZone'] = sub_df['PULocationID'].map(zone_lookup_dict)

In [111]:
sub_df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,trip_duration,PULocationZone
0,2,2017-06-08 07:52:31,2017-06-08 08:01:32,6,1.03,1,N,161,140,1,7.50,1.00,0.50,1.86,0.00,0.30,11.16,00:09:01,Midtown Center
1,2,2017-06-08 08:08:18,2017-06-08 08:14:00,6,1.03,1,N,162,233,1,6.00,1.00,0.50,2.34,0.00,0.30,10.14,00:05:42,Midtown East
2,2,2017-06-29 15:52:35,2017-06-29 16:03:27,6,1.43,1,N,142,48,1,8.50,1.00,0.50,0.88,0.00,0.30,11.18,00:10:52,Lincoln Square East
3,1,2017-06-01 00:00:00,2017-06-01 00:03:43,1,0.60,1,N,140,141,1,4.50,0.50,0.50,2.00,0.00,0.30,7.80,00:03:43,Lenox Hill East
4,1,2017-06-01 00:00:01,2017-06-01 00:01:43,1,0.20,1,N,148,148,2,3.00,0.50,0.50,0.00,0.00,0.30,4.30,00:01:42,Lower East Side

## get the day of the pickup

In [112]:
sub_df['tpep_pickup_datetime_day'] = sub_df['tpep_pickup_datetime'].apply(lambda x: x.day_name())

## get the hour of the pickup

In [113]:
sub_df['tpep_pickup_datetime_hour'] = sub_df['tpep_pickup_datetime'].apply(lambda x: x.hour)

## get the date+day of the pickup

In [114]:
sub_df['tpep_pickup_datetime_date_day'] = sub_df['tpep_pickup_datetime'].apply(lambda x: str(x.date())+'_'+x.day_name())

## Now let explore the dataset
## First on 1-D : through trip date

In [115]:
summary_day_rides = pd.DataFrame(sub_df.groupby(['tpep_pickup_datetime_date_day']).size())
summary_day_rides = summary_day_rides.rename(columns = {0:'Number of Trips'})
summary_day_rides.reset_index(level=0, inplace=True)

data = go.Scatter(
                x=summary_day_rides['tpep_pickup_datetime_date_day'],
                y=summary_day_rides['Number of Trips'],
               
                #name = "Monday",
                line = dict(color = '#17BECF'),
                opacity = 0.8)

layout = dict(
    title = "Number of trips daily",

)

fig = dict(data=[data], layout=layout)
plotly.offline.iplot(fig, filename = "Number of trips daily")

# Observation #1
## Thursday and Friday are the most busy 
## Monday and Sunday are the less busy

In [116]:
def get_average_taxi(df):
    return df['total_amount'].sum()/float(len(df))

summary_day_average_taxi = pd.DataFrame(sub_df.groupby(['tpep_pickup_datetime_date_day']).apply(get_average_taxi))


summary_day_average_taxi = summary_day_average_taxi.rename(columns = {0:'average_taxi'})
summary_day_average_taxi.reset_index(level=0, inplace=True)


data = go.Scatter(
                x=summary_day_average_taxi['tpep_pickup_datetime_date_day'],
                y=summary_day_average_taxi['average_taxi'],
                line = dict(color = '#17BECF'),
                opacity = 0.8)



layout = dict(
    title = "Amount per trips daily",

)

fig = dict(data=[data], layout=layout)
plotly.offline.iplot(fig, filename = "Amount per trips daily")

In [117]:
def get_average_tip(df):
    return df['tip_amount'].sum()/float(len(df))

summary_day_average_tip = pd.DataFrame(sub_df.groupby(['tpep_pickup_datetime_date_day']).apply(get_average_tip))


summary_day_average_tip = summary_day_average_tip.rename(columns = {0:'average_tip'})
summary_day_average_tip.reset_index(level=0, inplace=True)


data = go.Scatter(
                x=summary_day_average_tip['tpep_pickup_datetime_date_day'],
                y=summary_day_average_tip['average_tip'],
                line = dict(color = '#17BECF'),
                opacity = 0.8)



layout = dict(
    title = "Tip per trips daily",

)

fig = dict(data=[data], layout=layout)
plotly.offline.iplot(fig, filename = "Tip per trips daily")

# Observation #2
## Wednesday and Thursday have the most amount and tip per trip 
## Saturday have the less amount and tip per trip (maybe more taxi on road? more Competition) or less people?

## Now let see the data in 2-D: day of the week and hour of the day

In [149]:
summary_day_hour_rides = pd.DataFrame(sub_df.groupby(['tpep_pickup_datetime_day','tpep_pickup_datetime_hour']).size())
summary_day_hour_rides = summary_day_hour_rides.rename(columns = {0:'Number of Trips'})
summary_day_hour_rides.reset_index(level=0, inplace=True)


Monday = go.Scatter(
                x=summary_day_hour_rides[summary_day_hour_rides['tpep_pickup_datetime_day'] == 'Monday'].index,
                y=summary_day_hour_rides[summary_day_hour_rides['tpep_pickup_datetime_day'] == 'Monday']['Number of Trips'],
                name = "Monday",
                line = dict(color = '#17BECF'),
                opacity = 0.8)

Tuesday = go.Scatter(
                x=summary_day_hour_rides[summary_day_hour_rides['tpep_pickup_datetime_day'] == 'Tuesday'].index,
                y=summary_day_hour_rides[summary_day_hour_rides['tpep_pickup_datetime_day'] == 'Tuesday']['Number of Trips'],
                name = "Tuesday",

                line = dict(color = '#7F7F7F'),
                opacity = 0.8)

Wednesday = go.Scatter(
                x=summary_day_hour_rides[summary_day_hour_rides['tpep_pickup_datetime_day'] == 'Wednesday'].index,
                y=summary_day_hour_rides[summary_day_hour_rides['tpep_pickup_datetime_day'] == 'Wednesday']['Number of Trips'],
                name = "Wednesday",

                line = dict(color = '#FFFF00'),
                opacity = 0.8)

Thursday = go.Scatter(
                x=summary_day_hour_rides[summary_day_hour_rides['tpep_pickup_datetime_day'] == 'Thursday'].index,
                y=summary_day_hour_rides[summary_day_hour_rides['tpep_pickup_datetime_day'] == 'Thursday']['Number of Trips'],
                name = "Thursday",
                line = dict(color = '#00FFFF'),
                opacity = 0.8)

Friday = go.Scatter(
                x=summary_day_hour_rides[summary_day_hour_rides['tpep_pickup_datetime_day'] == 'Friday'].index,
                y=summary_day_hour_rides[summary_day_hour_rides['tpep_pickup_datetime_day'] == 'Friday']['Number of Trips'],
                name = "Friday",

                line = dict(color = '#FF00FF'),
                opacity = 0.8)

Saturday = go.Scatter(
                x=summary_day_hour_rides[summary_day_hour_rides['tpep_pickup_datetime_day'] == 'Saturday'].index,
                y=summary_day_hour_rides[summary_day_hour_rides['tpep_pickup_datetime_day'] == 'Saturday']['Number of Trips'],
                name = "Saturday",

                line = dict(color = '#FF0000'),
                opacity = 0.8)

Sunday = go.Scatter(
                x=summary_day_hour_rides[summary_day_hour_rides['tpep_pickup_datetime_day'] == 'Sunday'].index,
                y=summary_day_hour_rides[summary_day_hour_rides['tpep_pickup_datetime_day'] == 'Sunday']['Number of Trips'],
                name = "Sunday",
    
                line = dict(color = '#0000FF'),
                opacity = 0.8)



data = [Monday, Tuesday, Wednesday , Thursday , Friday, Saturday, Sunday]

layout = dict(
    title = "Number of trips hourly per day",

)

fig = dict(data=data, layout=layout)
plotly.offline.iplot(fig, filename = "Number of trips hourly per day")

# Observation #3

## busy hours are from 5pm to 10pm
## 2nd busy 8am-9am:  For weekdays only

## 3rd busy 12pm-3pm

## the effect of weekend (Saturday) staring from 9pm it become busier, peaked around midnight and then gradually decreased until 5am

## on weekdays people are on streets early peaked around 8am
## on weekends people are late on street peaked around 12pm

In [150]:
summary_day_hour_amount = pd.DataFrame(sub_df.groupby(['tpep_pickup_datetime_day','tpep_pickup_datetime_hour'])['total_amount'].sum())
#summary_day_hour_rides = summary_day_hour_rides.rename(columns = {0:'Number of Trips'})
summary_day_hour_amount.reset_index(level=0, inplace=True)



Monday = go.Scatter(
                x=summary_day_hour_amount[summary_day_hour_amount['tpep_pickup_datetime_day'] == 'Monday'].index,
                y=summary_day_hour_amount[summary_day_hour_amount['tpep_pickup_datetime_day'] == 'Monday']['total_amount'],
                name = "Monday",
                line = dict(color = '#17BECF'),
                opacity = 0.8)

Tuesday = go.Scatter(
                x=summary_day_hour_amount[summary_day_hour_amount['tpep_pickup_datetime_day'] == 'Tuesday'].index,
                y=summary_day_hour_amount[summary_day_hour_amount['tpep_pickup_datetime_day'] == 'Tuesday']['total_amount'],
                name = "Tuesday",
                line = dict(color = '#7F7F7F'),
                opacity = 0.8)

Wednesday = go.Scatter(
                x=summary_day_hour_amount[summary_day_hour_amount['tpep_pickup_datetime_day'] == 'Wednesday'].index,
                y=summary_day_hour_amount[summary_day_hour_amount['tpep_pickup_datetime_day'] == 'Wednesday']['total_amount'],
                name = "Wednesday",
                line = dict(color = '#FFFF00'),
                opacity = 0.8)

Thursday = go.Scatter(
                x=summary_day_hour_amount[summary_day_hour_amount['tpep_pickup_datetime_day'] == 'Thursday'].index,
                y=summary_day_hour_amount[summary_day_hour_amount['tpep_pickup_datetime_day'] == 'Thursday']['total_amount'],
                name = "Thursday",
                line = dict(color = '#00FFFF'),
                opacity = 0.8)

Friday = go.Scatter(
                x=summary_day_hour_amount[summary_day_hour_amount['tpep_pickup_datetime_day'] == 'Friday'].index,
                y=summary_day_hour_amount[summary_day_hour_amount['tpep_pickup_datetime_day'] == 'Friday']['total_amount'],
                name = "Friday",
                line = dict(color = '#FF00FF'),
                opacity = 0.8)

Saturday = go.Scatter(
                x=summary_day_hour_amount[summary_day_hour_amount['tpep_pickup_datetime_day'] == 'Saturday'].index,
                y=summary_day_hour_amount[summary_day_hour_amount['tpep_pickup_datetime_day'] == 'Saturday']['total_amount'],
                name = "Saturday",
                line = dict(color = '#FF0000'),
                opacity = 0.8)

Sunday = go.Scatter(
                x=summary_day_hour_amount[summary_day_hour_amount['tpep_pickup_datetime_day'] == 'Sunday'].index,
                y=summary_day_hour_amount[summary_day_hour_amount['tpep_pickup_datetime_day'] == 'Sunday']['total_amount'],
                name = "Sunday",
                line = dict(color = '#0000FF'),
                opacity = 0.8)



data = [Monday, Tuesday, Wednesday , Thursday , Friday, Saturday, Sunday]

layout = dict(
    title = "Amount of trips hourly per day",

)

fig = dict(data=data, layout=layout)
plotly.offline.iplot(fig, filename = "Amount of trips hourly per day")

In [151]:
def get_average_taxi_by_hour(df):
    return df['total_amount'].sum()/float(len(df))

summary_day_hour_average_taxi_by_hour = pd.DataFrame(sub_df.groupby(['tpep_pickup_datetime_day','tpep_pickup_datetime_hour']).apply(get_average_taxi_by_hour))


summary_day_hour_average_taxi_by_hour = summary_day_hour_average_taxi_by_hour.rename(columns = {0:'average_taxi_by_hour'})
summary_day_hour_average_taxi_by_hour.reset_index(level=0, inplace=True)





Monday = go.Scatter(
                x=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Monday'].index,
                y=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Monday']['average_taxi_by_hour'],
                name = "Monday",
                line = dict(color = '#17BECF'),
                opacity = 0.8)

Tuesday = go.Scatter(
                x=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Tuesday'].index,
                y=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Tuesday']['average_taxi_by_hour'],
                name = "Tuesday",
                line = dict(color = '#7F7F7F'),
                opacity = 0.8)

Wednesday = go.Scatter(
                x=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Wednesday'].index,
                y=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Wednesday']['average_taxi_by_hour'],
                name = "Wednesday",
                line = dict(color = '#FFFF00'),
                opacity = 0.8)

Thursday = go.Scatter(
                x=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Thursday'].index,
                y=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Thursday']['average_taxi_by_hour'],
                name = "Thursday",
                line = dict(color = '#00FFFF'),
                opacity = 0.8)

Friday = go.Scatter(
                x=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Friday'].index,
                y=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Friday']['average_taxi_by_hour'],
                name = "Friday",
                line = dict(color = '#FF00FF'),
                opacity = 0.8)

Saturday = go.Scatter(
                x=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Saturday'].index,
                y=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Saturday']['average_taxi_by_hour'],
                name = "Saturday",
                line = dict(color = '#FF0000'),
                opacity = 0.8)

Sunday = go.Scatter(
                x=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Sunday'].index,
                y=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Sunday']['average_taxi_by_hour'],
                name = "Sunday",
                line = dict(color = '#0000FF'),
                opacity = 0.8)



data = [Monday, Tuesday, Wednesday , Thursday , Friday, Saturday, Sunday]

layout = dict(
    title = "Amount per trips hourly per day",

)

fig = dict(data=data, layout=layout)
plotly.offline.iplot(fig, filename = "Amount per trips hourly per day")

In [152]:
summary_day_hour_tip = pd.DataFrame(sub_df.groupby(['tpep_pickup_datetime_day','tpep_pickup_datetime_hour'])['tip_amount'].sum())
#summary_day_hour_rides = summary_day_hour_rides.rename(columns = {0:'Number of Trips'})
summary_day_hour_tip.reset_index(level=0, inplace=True)




Monday = go.Scatter(
                x=summary_day_hour_tip[summary_day_hour_tip['tpep_pickup_datetime_day'] == 'Monday'].index,
                y=summary_day_hour_tip[summary_day_hour_tip['tpep_pickup_datetime_day'] == 'Monday']['tip_amount'],
                name = "Monday",
                line = dict(color = '#17BECF'),
                opacity = 0.8)

Tuesday = go.Scatter(
                x=summary_day_hour_tip[summary_day_hour_tip['tpep_pickup_datetime_day'] == 'Tuesday'].index,
                y=summary_day_hour_tip[summary_day_hour_tip['tpep_pickup_datetime_day'] == 'Tuesday']['tip_amount'],
                name = "Tuesday",
                line = dict(color = '#7F7F7F'),
                opacity = 0.8)

Wednesday = go.Scatter(
                x=summary_day_hour_tip[summary_day_hour_tip['tpep_pickup_datetime_day'] == 'Wednesday'].index,
                y=summary_day_hour_tip[summary_day_hour_tip['tpep_pickup_datetime_day'] == 'Wednesday']['tip_amount'],
                name = "Wednesday",
                line = dict(color = '#FFFF00'),
                opacity = 0.8)

Thursday = go.Scatter(
                x=summary_day_hour_tip[summary_day_hour_tip['tpep_pickup_datetime_day'] == 'Thursday'].index,
                y=summary_day_hour_tip[summary_day_hour_tip['tpep_pickup_datetime_day'] == 'Thursday']['tip_amount'],
                name = "Thursday",
                line = dict(color = '#00FFFF'),
                opacity = 0.8)

Friday = go.Scatter(
                x=summary_day_hour_tip[summary_day_hour_tip['tpep_pickup_datetime_day'] == 'Friday'].index,
                y=summary_day_hour_tip[summary_day_hour_tip['tpep_pickup_datetime_day'] == 'Friday']['tip_amount'],
                name = "Friday",
                line = dict(color = '#FF00FF'),
                opacity = 0.8)

Saturday = go.Scatter(
                x=summary_day_hour_tip[summary_day_hour_tip['tpep_pickup_datetime_day'] == 'Saturday'].index,
                y=summary_day_hour_tip[summary_day_hour_tip['tpep_pickup_datetime_day'] == 'Saturday']['tip_amount'],
                name = "Saturday",
                line = dict(color = '#FF0000'),
                opacity = 0.8)

Sunday = go.Scatter(
                x=summary_day_hour_tip[summary_day_hour_tip['tpep_pickup_datetime_day'] == 'Sunday'].index,
                y=summary_day_hour_tip[summary_day_hour_tip['tpep_pickup_datetime_day'] == 'Sunday']['tip_amount'],
                name = "Sunday",
                line = dict(color = '#0000FF'),
                opacity = 0.8)



data = [Monday, Tuesday, Wednesday , Thursday , Friday, Saturday, Sunday]

layout = dict(
    title = "Tip trips hourly per day",

)

fig = dict(data=data, layout=layout)
plotly.offline.iplot(fig, filename = "Tip trips hourly per day")

In [153]:
def get_average_tip_by_hour(df):
    return df['tip_amount'].sum()/float(len(df))

summary_day_hour_average_tip_by_hour = pd.DataFrame(sub_df.groupby(['tpep_pickup_datetime_day','tpep_pickup_datetime_hour']).apply(get_average_tip_by_hour))


summary_day_hour_average_tip_by_hour = summary_day_hour_average_tip_by_hour.rename(columns = {0:'average_tip_by_hour'})
summary_day_hour_average_tip_by_hour.reset_index(level=0, inplace=True)




Monday = go.Scatter(
                x=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Monday'].index,
                y=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Monday']['average_tip_by_hour'],
                name = "Monday",
                line = dict(color = '#17BECF'),
                opacity = 0.8)

Tuesday = go.Scatter(
                x=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Tuesday'].index,
                y=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Tuesday']['average_tip_by_hour'],
                name = "Tuesday",
                line = dict(color = '#7F7F7F'),
                opacity = 0.8)

Wednesday = go.Scatter(
                x=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Wednesday'].index,
                y=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Wednesday']['average_tip_by_hour'],
                name = "Wednesday",
                line = dict(color = '#FFFF00'),
                opacity = 0.8)

Thursday = go.Scatter(
                x=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Thursday'].index,
                y=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Thursday']['average_tip_by_hour'],
                name = "Thursday",
                line = dict(color = '#00FFFF'),
                opacity = 0.8)

Friday = go.Scatter(
                x=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Friday'].index,
                y=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Friday']['average_tip_by_hour'],
                name = "Friday",
                line = dict(color = '#FF00FF'),
                opacity = 0.8)

Saturday = go.Scatter(
                x=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Saturday'].index,
                y=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Saturday']['average_tip_by_hour'],
                name = "Saturday",
                line = dict(color = '#FF0000'),
                opacity = 0.8)

Sunday = go.Scatter(
                x=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Sunday'].index,
                y=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Sunday']['average_tip_by_hour'],
                name = "Sunday",
                line = dict(color = '#0000FF'),
                opacity = 0.8)



data = [Monday, Tuesday, Wednesday , Thursday , Friday, Saturday, Sunday]

layout = dict(
    title = "Tip per trips hourly per day",

)

fig = dict(data=data, layout=layout)
plotly.offline.iplot(fig, filename = "Tip per trips hourly per day")

# Observation #4
## most rewarding (amount per trip and tip per trip) hours  
    ## 4am-5am for weekdays
    ## 5am-6am for weekends
## 2nd rewarding 1pm-4pm for all days
## 3rd  rewarding
    ## 10pm - 1am workdays
    ## 10pm -11pm weekends

## Now let see the data by zones

In [123]:
sub_df.groupby('PULocationZone')['total_amount'].sum().sort_values(ascending = False)

PULocationZone
JFK Airport                                            12,769,679.81
LaGuardia Airport                                      11,878,029.03
Midtown Center                                          5,383,762.71
Times Sq/Theatre District                               5,149,153.05
Midtown East                                            4,941,588.25
Penn Station/Madison Sq West                            4,913,971.48
Murray Hill                                             4,585,503.53
Upper East Side South                                   4,565,737.82
Clinton East                                            4,340,306.68
Upper East Side North                                   4,309,901.73
Union Sq                                                4,299,998.51
Midtown North                                           3,937,460.59
East Village                                            3,903,987.40
Lincoln Square East                                     3,725,496.94
Midtown South                                           3,378,032.93
East Chelsea                                            3,257,606.56
Upper West Side South                                   3,248,463.78
Gramercy                                                3,119,270.34
TriBeCa/Civic Center                                    2,899,793.12
Garment District                                        2,751,959.97
West Village                                            2,748,256.19
Lenox Hill West                                         2,722,848.17
Sutton Place/Turtle Bay North                           2,448,551.61
Upper West Side North                                   2,427,475.24
Flatiron                                                2,411,244.22
Lenox Hill East                                         2,268,582.24
Lower East Side                                         2,260,375.92
Yorkville West                                          2,219,856.43
West Chelsea/Hudson Yards                               2,116,955.67
Greenwich Village North                                 2,108,987.38
                                                        ...
Glen Oaks                                                     552.71
Westerleigh                                                   545.13
Pelham Bay Park                                               512.27
Douglaston                                                    488.16
Mariners Harbor                                               484.04
Allerton/Pelham Gardens                                       480.54
Eastchester                                                   480.42
Jamaica Bay                                                   475.17
East Flushing                                                 462.97
Auburndale                                                    417.26
Governor's Island/Ellis Island/Liberty Island                 414.24
Green-Wood Cemetery                                           359.59
Pelham Bay                                                    358.36
Stapleton                                                     336.01
Rockaway Park                                                 309.83
Hollis                                                        295.52
Grymes Hill/Clifton                                           257.26
South Beach/Dongan Hills                                      201.33
City Island                                                   153.10
Far Rockaway                                                  131.80
Saint George/New Brighton                                     122.26
Port Richmond                                                 114.10
Charleston/Tottenville                                        109.85
Broad Channel                                                 102.43
New Dorp/Midland Beach                                         98.56
Oakwood                                                        65.80
Country Club                                                   50.39
Heartland Village/Todt Hill                                    25.86
Crotona Park                                                   19.05
Eltingville/Annadale/Prince's Bay                               8.80
Name: total_amount, Length: 253, dtype: float64

In [124]:
sub_df.groupby('PULocationZone').size().sort_values(ascending = False)

PULocationZone
Upper East Side South                            377935
Midtown Center                                   356853
Upper East Side North                            341831
Midtown East                                     329724
Penn Station/Madison Sq West                     326630
Murray Hill                                      313396
Times Sq/Theatre District                        307580
Union Sq                                         306454
Clinton East                                     300053
Lincoln Square East                              274629
East Village                                     272363
LaGuardia Airport                                266330
Midtown North                                    256110
Upper West Side South                            244863
Gramercy                                         226315
Midtown South                                    226168
JFK Airport                                      225713
East Chelsea                                     222118
Lenox Hill West                                  217046
West Village                                     194811
Garment District                                 189552
Upper West Side North                            183660
Sutton Place/Turtle Bay North                    182782
Flatiron                                         178179
TriBeCa/Civic Center                             175570
Yorkville West                                   169588
Lenox Hill East                                  159650
Greenwich Village North                          153270
Lower East Side                                  141812
West Chelsea/Hudson Yards                        140814
                                                  ...
Glen Oaks                                            19
Laurelton                                            18
Bloomfield/Emerson Hill                              17
Douglaston                                           17
Hammels/Arverne                                      16
Pelham Bay                                           16
Governor's Island/Ellis Island/Liberty Island        14
Bay Terrace/Fort Totten                              14
East Flushing                                        14
Hollis                                               11
Jamaica Bay                                          10
Rockaway Park                                         9
City Island                                           8
Westerleigh                                           8
Saint George/New Brighton                             7
Pelham Bay Park                                       6
Far Rockaway                                          6
Mariners Harbor                                       5
New Dorp/Midland Beach                                5
South Beach/Dongan Hills                              4
Stapleton                                             4
Country Club                                          4
Grymes Hill/Clifton                                   4
Charleston/Tottenville                                2
Broad Channel                                         2
Heartland Village/Todt Hill                           2
Crotona Park                                          2
Port Richmond                                         2
Eltingville/Annadale/Prince's Bay                     1
Oakwood                                               1
Length: 253, dtype: int64

# Observation #5
## Most busy area are: LaGuardia Airport, JFK Airport, Midtown, Times Sq/Theatre District, Union Sq, Upper East Side

## Create new summary vars for each zone

In [125]:
area_zone_df = pd.DataFrame (sub_df.groupby('PULocationZone').size())
area_zone_df = area_zone_df.rename(columns = {0:'Number_of_trips'})

area_zone_df.head()

                         Number_of_trips
PULocationZone
Allerton/Pelham Gardens               22
Alphabet City                      23267
Arrochar/Fort Wadsworth               35
Astoria                            16682
Astoria Park                         135

In [141]:
sub_df['trip_duration_minutes'] = sub_df['trip_duration'].dt.days * 24 * 60  + sub_df['trip_duration'].dt.seconds/60
sub_df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,tip_amount,tolls_amount,improvement_surcharge,total_amount,trip_duration,PULocationZone,tpep_pickup_datetime_day,tpep_pickup_datetime_hour,tpep_pickup_datetime_date_day,trip_duration_minutes
0,2,2017-06-08 07:52:31,2017-06-08 08:01:32,6,1.03,1,N,161,140,1,...,1.86,0.00,0.30,11.16,00:09:01,Midtown Center,Thursday,7,2017-06-08_Thursday,9.02
1,2,2017-06-08 08:08:18,2017-06-08 08:14:00,6,1.03,1,N,162,233,1,...,2.34,0.00,0.30,10.14,00:05:42,Midtown East,Thursday,8,2017-06-08_Thursday,5.70
2,2,2017-06-29 15:52:35,2017-06-29 16:03:27,6,1.43,1,N,142,48,1,...,0.88,0.00,0.30,11.18,00:10:52,Lincoln Square East,Thursday,15,2017-06-29_Thursday,10.87
3,1,2017-06-01 00:00:00,2017-06-01 00:03:43,1,0.60,1,N,140,141,1,...,2.00,0.00,0.30,7.80,00:03:43,Lenox Hill East,Thursday,0,2017-06-01_Thursday,3.72
4,1,2017-06-01 00:00:01,2017-06-01 00:01:43,1,0.20,1,N,148,148,2,...,0.00,0.00,0.30,4.30,00:01:42,Lower East Side,Thursday,0,2017-06-01_Thursday,1.70

In [144]:
area_zone_df0 = pd.DataFrame (sub_df.groupby('PULocationZone')['trip_duration_minutes'].mean())

area_zone_df = pd.merge(area_zone_df, area_zone_df0, how='left', on=['PULocationZone'])
area_zone_df.head()

,Number_of_trips,total_amount,average_taxi_amount,tip_amount,average_tip,Number_of_trips_weight,average_tip_X_Number_of_trips_weight,average_taxi_amount_X_Number_of_trips_weight,trip_duration_minutes
PULocationZone,,,,,,,,,
Allerton/Pelham Gardens,22,480.54,21.84,87.32,3.97,0.00,0.00,0.01,14.81
Alphabet City,23267,"343,979.90",14.78,"36,613.07",1.57,0.24,0.38,3.59,13.27
Arrochar/Fort Wadsworth,35,"1,244.90",35.57,94.65,2.70,0.00,0.00,0.01,11.14
Astoria,16682,"228,180.87",13.68,"17,364.66",1.04,0.17,0.18,2.38,11.68
Astoria Park,135,"3,645.38",27.00,416.94,3.09,0.00,0.00,0.04,16.36

In [126]:
area_zone_df2 = pd.DataFrame (sub_df.groupby('PULocationZone')['total_amount'].sum())

area_zone_df = pd.merge(area_zone_df, area_zone_df2, how='left', on=['PULocationZone'])
area_zone_df.head()

                         Number_of_trips         total_amount
PULocationZone
Allerton/Pelham Gardens               22               480.54
Alphabet City                      23267           343,979.90
Arrochar/Fort Wadsworth               35             1,244.90
Astoria                            16682           228,180.87
Astoria Park                         135             3,645.38

In [127]:
area_zone_df['average_taxi_amount'] = area_zone_df['total_amount'] / area_zone_df['Number_of_trips']
area_zone_df.head()

,Number_of_trips,total_amount,average_taxi_amount
PULocationZone,,,
Allerton/Pelham Gardens,22,480.54,21.84
Alphabet City,23267,"343,979.90",14.78
Arrochar/Fort Wadsworth,35,"1,244.90",35.57
Astoria,16682,"228,180.87",13.68
Astoria Park,135,"3,645.38",27.00

In [128]:
area_zone_df3 = pd.DataFrame (sub_df.groupby('PULocationZone')['tip_amount'].sum())

area_zone_df = pd.merge(area_zone_df, area_zone_df3, how='left', on=['PULocationZone'])
area_zone_df.head()

,Number_of_trips,total_amount,average_taxi_amount,tip_amount
PULocationZone,,,,
Allerton/Pelham Gardens,22,480.54,21.84,87.32
Alphabet City,23267,"343,979.90",14.78,"36,613.07"
Arrochar/Fort Wadsworth,35,"1,244.90",35.57,94.65
Astoria,16682,"228,180.87",13.68,"17,364.66"
Astoria Park,135,"3,645.38",27.00,416.94

In [129]:
area_zone_df['average_tip'] = area_zone_df['tip_amount'] / area_zone_df['Number_of_trips']
area_zone_df.head()

,Number_of_trips,total_amount,average_taxi_amount,tip_amount,average_tip
PULocationZone,,,,,
Allerton/Pelham Gardens,22,480.54,21.84,87.32,3.97
Alphabet City,23267,"343,979.90",14.78,"36,613.07",1.57
Arrochar/Fort Wadsworth,35,"1,244.90",35.57,94.65,2.70
Astoria,16682,"228,180.87",13.68,"17,364.66",1.04
Astoria Park,135,"3,645.38",27.00,416.94,3.09

## This var (Number_of_trips_weight) take in considration the total number of trips for each zone in reference with the total number of trips in all zones

## As a result we will consider this var as weight for each zone to measure its important based on how busy it is

In [130]:
area_zone_df['Number_of_trips_weight'] = area_zone_df['Number_of_trips'] / float(area_zone_df['Number_of_trips'].sum()) * 100
area_zone_df.head()

,Number_of_trips,total_amount,average_taxi_amount,tip_amount,average_tip,Number_of_trips_weight
PULocationZone,,,,,,
Allerton/Pelham Gardens,22,480.54,21.84,87.32,3.97,0.00
Alphabet City,23267,"343,979.90",14.78,"36,613.07",1.57,0.24
Arrochar/Fort Wadsworth,35,"1,244.90",35.57,94.65,2.70,0.00
Astoria,16682,"228,180.87",13.68,"17,364.66",1.04,0.17
Astoria Park,135,"3,645.38",27.00,416.94,3.09,0.00

## Now we multiple the average tip (and then average amount) with each zone weight

## this var (average_tip_X_Number_of_trips_weight) will measure how generous an average rider from this zone

In [131]:
area_zone_df['average_tip_X_Number_of_trips_weight'] = area_zone_df['average_tip'] * area_zone_df['Number_of_trips_weight']
area_zone_df.head()

,Number_of_trips,total_amount,average_taxi_amount,tip_amount,average_tip,Number_of_trips_weight,average_tip_X_Number_of_trips_weight
PULocationZone,,,,,,,
Allerton/Pelham Gardens,22,480.54,21.84,87.32,3.97,0.00,0.00
Alphabet City,23267,"343,979.90",14.78,"36,613.07",1.57,0.24,0.38
Arrochar/Fort Wadsworth,35,"1,244.90",35.57,94.65,2.70,0.00,0.00
Astoria,16682,"228,180.87",13.68,"17,364.66",1.04,0.17,0.18
Astoria Park,135,"3,645.38",27.00,416.94,3.09,0.00,0.00

## this var will measure the weigted amount of an average trip starting from this zone

In [132]:
area_zone_df['average_taxi_amount_X_Number_of_trips_weight'] = area_zone_df['average_taxi_amount'] * area_zone_df['Number_of_trips_weight']
area_zone_df.head()

,Number_of_trips,total_amount,average_taxi_amount,tip_amount,average_tip,Number_of_trips_weight,average_tip_X_Number_of_trips_weight,average_taxi_amount_X_Number_of_trips_weight
PULocationZone,,,,,,,,
Allerton/Pelham Gardens,22,480.54,21.84,87.32,3.97,0.00,0.00,0.01
Alphabet City,23267,"343,979.90",14.78,"36,613.07",1.57,0.24,0.38,3.59
Arrochar/Fort Wadsworth,35,"1,244.90",35.57,94.65,2.70,0.00,0.00,0.01
Astoria,16682,"228,180.87",13.68,"17,364.66",1.04,0.17,0.18,2.38
Astoria Park,135,"3,645.38",27.00,416.94,3.09,0.00,0.00,0.04

## Finally we sort the zones based on the weighted average amount for each trip

In [133]:
area_zone_df.sort_values(by=['average_taxi_amount_X_Number_of_trips_weight'],ascending=False)

,Number_of_trips,total_amount,average_taxi_amount,tip_amount,average_tip,Number_of_trips_weight,average_tip_X_Number_of_trips_weight,average_taxi_amount_X_Number_of_trips_weight
PULocationZone,,,,,,,,
JFK Airport,225713,"12,769,679.81",56.57,"1,317,458.54",5.84,2.36,13.77,133.43
LaGuardia Airport,266330,"11,878,029.03",44.60,"1,559,963.86",5.86,2.78,16.30,124.12
Midtown Center,356853,"5,383,762.71",15.09,"627,710.61",1.76,3.73,6.56,56.26
Times Sq/Theatre District,307580,"5,149,153.05",16.74,"555,120.21",1.80,3.21,5.80,53.80
Midtown East,329724,"4,941,588.25",14.99,"595,031.01",1.80,3.45,6.22,51.64
Penn Station/Madison Sq West,326630,"4,913,971.48",15.04,"539,118.77",1.65,3.41,5.63,51.35
Murray Hill,313396,"4,585,503.53",14.63,"540,537.42",1.72,3.27,5.65,47.91
Upper East Side South,377935,"4,565,737.82",12.08,"502,542.18",1.33,3.95,5.25,47.71
Clinton East,300053,"4,340,306.68",14.47,"462,546.31",1.54,3.14,4.83,45.35
Upper East Side North,341831,"4,309,901.73",12.61,"485,660.10",1.42,3.57,5.07,45.04
Union Sq,306454,"4,299,998.51",14.03,"522,485.41",1.70,3.20,5.46,44.93
Midtown North,256110,"3,937,460.59",15.37,"442,558.64",1.73,2.68,4.62,41.14
East Village,272363,"3,903,987.40",14.33,"459,290.25",1.69,2.85,4.80,40.79
Lincoln Square East,274629,"3,725,496.94",13.57,"421,832.89",1.54,2.87,4.41,38.93
Midtown South,226168,"3,378,032.93",14.94,"378,386.49",1.67,2.36,3.95,35.30
East Chelsea,222118,"3,257,606.56",14.67,"373,708.42",1.68,2.32,3.90,34.04
Upper West Side South,244863,"3,248,463.78",13.27,"375,909.97",1.54,2.56,3.93,33.94
Gramercy,226315,"3,119,270.34",13.78,"373,878.82",1.65,2.36,3.91,32.59
TriBeCa/Civic Center,175570,"2,899,793.12",16.52,"344,746.22",1.96,1.83,3.60,30.30
Garment District,189552,"2,751,959.97",14.52,"278,023.64",1.47,1.98,2.91,28.76
West Village,194811,"2,748,256.19",14.11,"327,800.07",1.68,2.04,3.43,28.72
Lenox Hill West,217046,"2,722,848.17",12.55,"304,101.55",1.40,2.27,3.18,28.45
Sutton Place/Turtle Bay North,182782,"2,448,551.61",13.40,"276,257.93",1.51,1.91,2.89,25.59
Upper West Side North,183660,"2,427,475.24",13.22,"274,212.45",1.49,1.92,2.87,25.37
Flatiron,178179,"2,411,244.22",13.53,"285,251.94",1.60,1.86,2.98,25.20
Lenox Hill East,159650,"2,268,582.24",14.21,"253,573.07",1.59,1.67,2.65,23.70
Lower East Side,141812,"2,260,375.92",15.94,"258,831.24",1.83,1.48,2.70,23.62
Yorkville West,169588,"2,219,856.43",13.09,"253,782.48",1.50,1.77,2.65,23.20
West Chelsea/Hudson Yards,140814,"2,116,955.67",15.03,"251,248.80",1.78,1.47,2.63,22.12
Greenwich Village North,153270,"2,108,987.38",13.76,"248,489.93",1.62,1.60,2.60,22.04
...,...,...,...,...,...,...,...,...
Glen Oaks,19,552.71,29.09,34.19,1.80,0.00,0.00,0.01
Westerleigh,8,545.13,68.14,40.71,5.09,0.00,0.00,0.01
Pelham Bay Park,6,512.27,85.38,55.71,9.29,0.00,0.00,0.01
Douglaston,17,488.16,28.72,53.56,3.15,0.00,0.00,0.01
Mariners Harbor,5,484.04,96.81,51.52,10.30,0.00,0.00,0.01
Allerton/Pelham Gardens,22,480.54,21.84,87.32,3.97,0.00,0.00,0.01
Eastchester,26,480.42,18.48,17.78,0.68,0.00,0.00,0.01
Jamaica Bay,10,475.17,47.52,42.37,4.24,0.00,0.00,0.00
East Flushing,14,462.97,33.07,17.75,1.27,0.00,0.00,0.00
Auburndale,21,417.26,19.87,12.10,0.58,0.00,0.00,0.00
Governor's Island/Ellis Island/Liberty Island,14,414.24,29.59,53.52,3.82,0.00,0.00,0.00
Green-Wood Cemetery,23,359.59,15.63,34.19,1.49,0.00,0.00,0.00
Pelham Bay,16,358.36,22.40,22.90,1.43,0.00,0.00,0.00
Stapleton,4,336.01,84.00,54.81,13.70,0.00,0.00,0.00
Rockaway Park,9,309.83,34.43,106.05,11.78,0.00,0.00,0.00
Hollis,11,295.52,26.87,15.56,1.41,0.00,0.00,0.00
Grymes Hill/Clifton,4,257.26,64.31,0.00,0.00,0.00,0.00,0.00
South Beach/Dongan Hills,4,201.33,50.33,19.11,4.78,0.00,0.00,0.00
City Island,8,153.10,19.14,1.20,0.15,0.00,0.00,0.00
Far Rockaway,6,131.80,21.97,0.00,0.00,0.00,0.00,0.00
Saint George/New Brighton,7,122.26,17.47,12.90,1.84,0.00,0.00,0.00
Port Richmond,2,114.10,57.05,83.00,41.50,0.00,0.00,0.00
Charleston/Tottenville,2,109.85,54.92,17.75,8.88,0.00,0.00,0.00
Broad Channel,2,102.43,51.22,23.41,11.71,0.00,0.00,0.00
New Dorp/Midland Beach,5,98.56,19.71,8.06,1.61,0.00,0.00,0.00
Oakwood,1,65.80,65.80,0.00,0.00,0.00,0.00,0.00
Country Club,4,50.39,12.60,1.24,0.31,0.00,0.00,0.00
Heartland Village/Todt Hill,2,25.86,12.93,1.76,0.88,0.00,0.00,0.00
Crotona Park,2,19.05,9.53,0.50,0.25,0.00,0.00,0.00
Eltingville/Annadale/Prince's Bay,1,8.80,8.80,0.00,0.00,0.00,0.00,0.00

## and we sort the zones based on the weighted average tip for each trip

In [134]:
area_zone_df.sort_values(by=['average_tip_X_Number_of_trips_weight'],ascending=False)

,Number_of_trips,total_amount,average_taxi_amount,tip_amount,average_tip,Number_of_trips_weight,average_tip_X_Number_of_trips_weight,average_taxi_amount_X_Number_of_trips_weight
PULocationZone,,,,,,,,
LaGuardia Airport,266330,"11,878,029.03",44.60,"1,559,963.86",5.86,2.78,16.30,124.12
JFK Airport,225713,"12,769,679.81",56.57,"1,317,458.54",5.84,2.36,13.77,133.43
Midtown Center,356853,"5,383,762.71",15.09,"627,710.61",1.76,3.73,6.56,56.26
Midtown East,329724,"4,941,588.25",14.99,"595,031.01",1.80,3.45,6.22,51.64
Times Sq/Theatre District,307580,"5,149,153.05",16.74,"555,120.21",1.80,3.21,5.80,53.80
Murray Hill,313396,"4,585,503.53",14.63,"540,537.42",1.72,3.27,5.65,47.91
Penn Station/Madison Sq West,326630,"4,913,971.48",15.04,"539,118.77",1.65,3.41,5.63,51.35
Union Sq,306454,"4,299,998.51",14.03,"522,485.41",1.70,3.20,5.46,44.93
Upper East Side South,377935,"4,565,737.82",12.08,"502,542.18",1.33,3.95,5.25,47.71
Upper East Side North,341831,"4,309,901.73",12.61,"485,660.10",1.42,3.57,5.07,45.04
Clinton East,300053,"4,340,306.68",14.47,"462,546.31",1.54,3.14,4.83,45.35
East Village,272363,"3,903,987.40",14.33,"459,290.25",1.69,2.85,4.80,40.79
Midtown North,256110,"3,937,460.59",15.37,"442,558.64",1.73,2.68,4.62,41.14
Lincoln Square East,274629,"3,725,496.94",13.57,"421,832.89",1.54,2.87,4.41,38.93
Midtown South,226168,"3,378,032.93",14.94,"378,386.49",1.67,2.36,3.95,35.30
Upper West Side South,244863,"3,248,463.78",13.27,"375,909.97",1.54,2.56,3.93,33.94
Gramercy,226315,"3,119,270.34",13.78,"373,878.82",1.65,2.36,3.91,32.59
East Chelsea,222118,"3,257,606.56",14.67,"373,708.42",1.68,2.32,3.90,34.04
TriBeCa/Civic Center,175570,"2,899,793.12",16.52,"344,746.22",1.96,1.83,3.60,30.30
West Village,194811,"2,748,256.19",14.11,"327,800.07",1.68,2.04,3.43,28.72
Lenox Hill West,217046,"2,722,848.17",12.55,"304,101.55",1.40,2.27,3.18,28.45
Flatiron,178179,"2,411,244.22",13.53,"285,251.94",1.60,1.86,2.98,25.20
Garment District,189552,"2,751,959.97",14.52,"278,023.64",1.47,1.98,2.91,28.76
Sutton Place/Turtle Bay North,182782,"2,448,551.61",13.40,"276,257.93",1.51,1.91,2.89,25.59
Upper West Side North,183660,"2,427,475.24",13.22,"274,212.45",1.49,1.92,2.87,25.37
Lower East Side,141812,"2,260,375.92",15.94,"258,831.24",1.83,1.48,2.70,23.62
Yorkville West,169588,"2,219,856.43",13.09,"253,782.48",1.50,1.77,2.65,23.20
Lenox Hill East,159650,"2,268,582.24",14.21,"253,573.07",1.59,1.67,2.65,23.70
West Chelsea/Hudson Yards,140814,"2,116,955.67",15.03,"251,248.80",1.78,1.47,2.63,22.12
Greenwich Village North,153270,"2,108,987.38",13.76,"248,489.93",1.62,1.60,2.60,22.04
...,...,...,...,...,...,...,...,...
West Farms/Bronx River,61,"1,077.84",17.67,43.47,0.71,0.00,0.00,0.01
Jamaica Bay,10,475.17,47.52,42.37,4.24,0.00,0.00,0.00
Fordham South,51,903.19,17.71,41.38,0.81,0.00,0.00,0.01
Laurelton,18,571.94,31.77,41.03,2.28,0.00,0.00,0.01
Westerleigh,8,545.13,68.14,40.71,5.09,0.00,0.00,0.01
Glen Oaks,19,552.71,29.09,34.19,1.80,0.00,0.00,0.01
Green-Wood Cemetery,23,359.59,15.63,34.19,1.49,0.00,0.00,0.00
Claremont/Bathgate,99,"1,157.90",11.70,33.75,0.34,0.00,0.00,0.01
East Tremont,76,"1,231.27",16.20,31.72,0.42,0.00,0.00,0.01
Longwood,70,915.53,13.08,31.70,0.45,0.00,0.00,0.01
Bensonhurst East,26,826.28,31.78,29.86,1.15,0.00,0.00,0.01
Williamsbridge/Olinville,48,"1,156.44",24.09,28.00,0.58,0.00,0.00,0.01
Broad Channel,2,102.43,51.22,23.41,11.71,0.00,0.00,0.00
Pelham Bay,16,358.36,22.40,22.90,1.43,0.00,0.00,0.00
South Beach/Dongan Hills,4,201.33,50.33,19.11,4.78,0.00,0.00,0.00
Eastchester,26,480.42,18.48,17.78,0.68,0.00,0.00,0.01
East Flushing,14,462.97,33.07,17.75,1.27,0.00,0.00,0.00
Charleston/Tottenville,2,109.85,54.92,17.75,8.88,0.00,0.00,0.00
Hollis,11,295.52,26.87,15.56,1.41,0.00,0.00,0.00
Saint George/New Brighton,7,122.26,17.47,12.90,1.84,0.00,0.00,0.00
Auburndale,21,417.26,19.87,12.10,0.58,0.00,0.00,0.00
New Dorp/Midland Beach,5,98.56,19.71,8.06,1.61,0.00,0.00,0.00
Heartland Village/Todt Hill,2,25.86,12.93,1.76,0.88,0.00,0.00,0.00
Country Club,4,50.39,12.60,1.24,0.31,0.00,0.00,0.00
City Island,8,153.10,19.14,1.20,0.15,0.00,0.00,0.00
Crotona Park,2,19.05,9.53,0.50,0.25,0.00,0.00,0.00
Oakwood,1,65.80,65.80,0.00,0.00,0.00,0.00,0.00
Eltingville/Annadale/Prince's Bay,1,8.80,8.80,0.00,0.00,0.00,0.00,0.00
Far Rockaway,6,131.80,21.97,0.00,0.00,0.00,0.00,0.00
Grymes Hill/Clifton,4,257.26,64.31,0.00,0.00,0.00,0.00,0.00

# Observation #5
## Most rewarded area are: LaGuardia Airport, JFK Airport, Midtown, Times Sq/Theatre District,

## let see the data in 2-D : zone and trip duration

## create an average trip duration (in min) for each zone

In [145]:
sub_df['trip_duration_minutes'] = sub_df['trip_duration'].dt.days * 24 * 60  + sub_df['trip_duration'].dt.seconds/60
sub_df.head()

area_zone_df0 = pd.DataFrame (sub_df.groupby('PULocationZone')['trip_duration_minutes'].mean())

area_zone_df = pd.merge(area_zone_df, area_zone_df0, how='left', on=['PULocationZone'])
area_zone_df.head()

,Number_of_trips,total_amount,average_taxi_amount,tip_amount,average_tip,Number_of_trips_weight,average_tip_X_Number_of_trips_weight,average_taxi_amount_X_Number_of_trips_weight,trip_duration_minutes_x,trip_duration_minutes_y
PULocationZone,,,,,,,,,,
Allerton/Pelham Gardens,22,480.54,21.84,87.32,3.97,0.00,0.00,0.01,14.81,14.81
Alphabet City,23267,"343,979.90",14.78,"36,613.07",1.57,0.24,0.38,3.59,13.27,13.27
Arrochar/Fort Wadsworth,35,"1,244.90",35.57,94.65,2.70,0.00,0.00,0.01,11.14,11.14
Astoria,16682,"228,180.87",13.68,"17,364.66",1.04,0.17,0.18,2.38,11.68,11.68
Astoria Park,135,"3,645.38",27.00,416.94,3.09,0.00,0.00,0.04,16.36,16.36

In [147]:
area_zone_df['trip_duration_minutes_X_Number_of_trips_weight'] = area_zone_df['trip_duration_minutes_x'] * area_zone_df['Number_of_trips_weight']
area_zone_df.head()

,Number_of_trips,total_amount,average_taxi_amount,tip_amount,average_tip,Number_of_trips_weight,average_tip_X_Number_of_trips_weight,average_taxi_amount_X_Number_of_trips_weight,trip_duration_minutes_x,trip_duration_minutes_y,trip_duration_minutes_X_Number_of_trips_weight
PULocationZone,,,,,,,,,,,
Allerton/Pelham Gardens,22,480.54,21.84,87.32,3.97,0.00,0.00,0.01,14.81,14.81,0.00
Alphabet City,23267,"343,979.90",14.78,"36,613.07",1.57,0.24,0.38,3.59,13.27,13.27,3.23
Arrochar/Fort Wadsworth,35,"1,244.90",35.57,94.65,2.70,0.00,0.00,0.01,11.14,11.14,0.00
Astoria,16682,"228,180.87",13.68,"17,364.66",1.04,0.17,0.18,2.38,11.68,11.68,2.04
Astoria Park,135,"3,645.38",27.00,416.94,3.09,0.00,0.00,0.04,16.36,16.36,0.02

In [148]:
area_zone_df.sort_values(by=['trip_duration_minutes_X_Number_of_trips_weight'],ascending=False)

,Number_of_trips,total_amount,average_taxi_amount,tip_amount,average_tip,Number_of_trips_weight,average_tip_X_Number_of_trips_weight,average_taxi_amount_X_Number_of_trips_weight,trip_duration_minutes_x,trip_duration_minutes_y,trip_duration_minutes_X_Number_of_trips_weight
PULocationZone,,,,,,,,,,,
JFK Airport,225713,"12,769,679.81",56.57,"1,317,458.54",5.84,2.36,13.77,133.43,44.97,44.97,106.06
LaGuardia Airport,266330,"11,878,029.03",44.60,"1,559,963.86",5.86,2.78,16.30,124.12,37.53,37.53,104.45
Midtown Center,356853,"5,383,762.71",15.09,"627,710.61",1.76,3.73,6.56,56.26,14.27,14.27,53.20
Penn Station/Madison Sq West,326630,"4,913,971.48",15.04,"539,118.77",1.65,3.41,5.63,51.35,15.24,15.24,52.03
Times Sq/Theatre District,307580,"5,149,153.05",16.74,"555,120.21",1.80,3.21,5.80,53.80,15.51,15.51,49.86
Midtown East,329724,"4,941,588.25",14.99,"595,031.01",1.80,3.45,6.22,51.64,13.71,13.71,47.25
Murray Hill,313396,"4,585,503.53",14.63,"540,537.42",1.72,3.27,5.65,47.91,13.45,13.45,44.04
Upper East Side South,377935,"4,565,737.82",12.08,"502,542.18",1.33,3.95,5.25,47.71,11.13,11.13,43.95
Union Sq,306454,"4,299,998.51",14.03,"522,485.41",1.70,3.20,5.46,44.93,13.47,13.47,43.12
Upper East Side North,341831,"4,309,901.73",12.61,"485,660.10",1.42,3.57,5.07,45.04,11.57,11.57,41.34
Clinton East,300053,"4,340,306.68",14.47,"462,546.31",1.54,3.14,4.83,45.35,13.12,13.12,41.14
Midtown North,256110,"3,937,460.59",15.37,"442,558.64",1.73,2.68,4.62,41.14,14.57,14.57,38.99
East Village,272363,"3,903,987.40",14.33,"459,290.25",1.69,2.85,4.80,40.79,12.86,12.86,36.61
Lincoln Square East,274629,"3,725,496.94",13.57,"421,832.89",1.54,2.87,4.41,38.93,12.65,12.65,36.29
Midtown South,226168,"3,378,032.93",14.94,"378,386.49",1.67,2.36,3.95,35.30,13.80,13.80,32.60
East Chelsea,222118,"3,257,606.56",14.67,"373,708.42",1.68,2.32,3.90,34.04,13.71,13.71,31.83
Upper West Side South,244863,"3,248,463.78",13.27,"375,909.97",1.54,2.56,3.93,33.94,11.78,11.78,30.15
Gramercy,226315,"3,119,270.34",13.78,"373,878.82",1.65,2.36,3.91,32.59,12.73,12.73,30.09
TriBeCa/Civic Center,175570,"2,899,793.12",16.52,"344,746.22",1.96,1.83,3.60,30.30,15.45,15.45,28.35
Garment District,189552,"2,751,959.97",14.52,"278,023.64",1.47,1.98,2.91,28.76,13.91,13.91,27.55
West Village,194811,"2,748,256.19",14.11,"327,800.07",1.68,2.04,3.43,28.72,12.94,12.94,26.35
Lenox Hill West,217046,"2,722,848.17",12.55,"304,101.55",1.40,2.27,3.18,28.45,11.02,11.02,25.00
Flatiron,178179,"2,411,244.22",13.53,"285,251.94",1.60,1.86,2.98,25.20,12.59,12.59,23.44
Sutton Place/Turtle Bay North,182782,"2,448,551.61",13.40,"276,257.93",1.51,1.91,2.89,25.59,12.06,12.06,23.03
Upper West Side North,183660,"2,427,475.24",13.22,"274,212.45",1.49,1.92,2.87,25.37,11.51,11.51,22.10
Lenox Hill East,159650,"2,268,582.24",14.21,"253,573.07",1.59,1.67,2.65,23.70,12.83,12.83,21.40
Greenwich Village North,153270,"2,108,987.38",13.76,"248,489.93",1.62,1.60,2.60,22.04,13.22,13.22,21.17
West Chelsea/Hudson Yards,140814,"2,116,955.67",15.03,"251,248.80",1.78,1.47,2.63,22.12,14.19,14.19,20.87
Lower East Side,141812,"2,260,375.92",15.94,"258,831.24",1.83,1.48,2.70,23.62,14.01,14.01,20.76
Yorkville West,169588,"2,219,856.43",13.09,"253,782.48",1.50,1.77,2.65,23.20,11.10,11.10,19.68
...,...,...,...,...,...,...,...,...,...,...,...
Governor's Island/Ellis Island/Liberty Island,14,414.24,29.59,53.52,3.82,0.00,0.00,0.00,24.88,24.88,0.00
Bloomfield/Emerson Hill,17,946.63,55.68,171.50,10.09,0.00,0.00,0.01,20.14,20.14,0.00
Co-Op City,26,558.25,21.47,99.22,3.82,0.00,0.00,0.01,12.95,12.95,0.00
Eastchester,26,480.42,18.48,17.78,0.68,0.00,0.00,0.01,12.86,12.86,0.00
Allerton/Pelham Gardens,22,480.54,21.84,87.32,3.97,0.00,0.00,0.01,14.81,14.81,0.00
Mariners Harbor,5,484.04,96.81,51.52,10.30,0.00,0.00,0.01,52.97,52.97,0.00
Oakland Gardens,23,738.95,32.13,53.79,2.34,0.00,0.00,0.01,11.04,11.04,0.00
Green-Wood Cemetery,23,359.59,15.63,34.19,1.49,0.00,0.00,0.00,10.93,10.93,0.00
Glen Oaks,19,552.71,29.09,34.19,1.80,0.00,0.00,0.01,12.55,12.55,0.00
Douglaston,17,488.16,28.72,53.56,3.15,0.00,0.00,0.01,12.99,12.99,0.00
Pelham Bay,16,358.36,22.40,22.90,1.43,0.00,0.00,0.00,12.14,12.14,0.00
Westerleigh,8,545.13,68.14,40.71,5.09,0.00,0.00,0.01,23.60,23.60,0.00
Hollis,11,295.52,26.87,15.56,1.41,0.00,0.00,0.00,16.86,16.86,0.00
Far Rockaway,6,131.80,21.97,0.00,0.00,0.00,0.00,0.00,22.05,22.05,0.00
City Island,8,153.10,19.14,1.20,0.15,0.00,0.00,0.00,16.23,16.23,0.00
Rockaway Park,9,309.83,34.43,106.05,11.78,0.00,0.00,0.00,13.55,13.55,0.00
Grymes Hill/Clifton,4,257.26,64.31,0.00,0.00,0.00,0.00,0.00,24.78,24.78,0.00
New Dorp/Midland Beach,5,98.56,19.71,8.06,1.61,0.00,0.00,0.00,16.87,16.87,0.00
Pelham Bay Park,6,512.27,85.38,55.71,9.29,0.00,0.00,0.01,13.11,13.11,0.00
Saint George/New Brighton,7,122.26,17.47,12.90,1.84,0.00,0.00,0.00,10.90,10.90,0.00
Broad Channel,2,102.43,51.22,23.41,11.71,0.00,0.00,0.00,37.97,37.97,0.00
Charleston/Tottenville,2,109.85,54.92,17.75,8.88,0.00,0.00,0.00,33.74,33.74,0.00
Oakwood,1,65.80,65.80,0.00,0.00,0.00,0.00,0.00,45.68,45.68,0.00
Stapleton,4,336.01,84.00,54.81,13.70,0.00,0.00,0.00,11.38,11.38,0.00
Country Club,4,50.39,12.60,1.24,0.31,0.00,0.00,0.00,8.88,8.88,0.00
Port Richmond,2,114.10,57.05,83.00,41.50,0.00,0.00,0.00,14.84,14.84,0.00
South Beach/Dongan Hills,4,201.33,50.33,19.11,4.78,0.00,0.00,0.00,5.31,5.31,0.00
Heartland Village/Todt Hill,2,25.86,12.93,1.76,0.88,0.00,0.00,0.00,10.35,10.35,0.00
Crotona Park,2,19.05,9.53,0.50,0.25,0.00,0.00,0.00,5.37,5.37,0.00
Eltingville/Annadale/Prince's Bay,1,8.80,8.80,0.00,0.00,0.00,0.00,0.00,9.35,9.35,0.00

In [154]:
df = pd.DataFrame(sub_df.groupby('PULocationZone').get_group('Midtown Center').groupby(['tpep_pickup_datetime_day','tpep_pickup_datetime_hour']).size())
df = df.rename(columns = {0:'Number of Trips'})
df.reset_index(level=0, inplace=True)

Monday = go.Scatter(
                x=df[df['tpep_pickup_datetime_day'] == 'Monday'].index,
                y=df[df['tpep_pickup_datetime_day'] == 'Monday']['Number of Trips'],
                name = "Monday",
                line = dict(color = '#17BECF'),
                opacity = 0.8)

Tuesday = go.Scatter(
                x=df[df['tpep_pickup_datetime_day'] == 'Tuesday'].index,
                y=df[df['tpep_pickup_datetime_day'] == 'Tuesday']['Number of Trips'],
                name = "Tuesday",

                line = dict(color = '#7F7F7F'),
                opacity = 0.8)

Wednesday = go.Scatter(
                x=df[df['tpep_pickup_datetime_day'] == 'Wednesday'].index,
                y=df[df['tpep_pickup_datetime_day'] == 'Wednesday']['Number of Trips'],
                name = "Wednesday",

                line = dict(color = '#FFFF00'),
                opacity = 0.8)

Thursday = go.Scatter(
                x=df[df['tpep_pickup_datetime_day'] == 'Thursday'].index,
                y=df[df['tpep_pickup_datetime_day'] == 'Thursday']['Number of Trips'],
                name = "Thursday",
                line = dict(color = '#00FFFF'),
                opacity = 0.8)

Friday = go.Scatter(
                x=df[df['tpep_pickup_datetime_day'] == 'Friday'].index,
                y=df[df['tpep_pickup_datetime_day'] == 'Friday']['Number of Trips'],
                name = "Friday",

                line = dict(color = '#FF00FF'),
                opacity = 0.8)

Saturday = go.Scatter(
                x=df[df['tpep_pickup_datetime_day'] == 'Saturday'].index,
                y=df[df['tpep_pickup_datetime_day'] == 'Saturday']['Number of Trips'],
                name = "Saturday",

                line = dict(color = '#FF0000'),
                opacity = 0.8)

Sunday = go.Scatter(
                x=df[df['tpep_pickup_datetime_day'] == 'Sunday'].index,
                y=df[df['tpep_pickup_datetime_day'] == 'Sunday']['Number of Trips'],
                name = "Sunday",
    
                line = dict(color = '#0000FF'),
                opacity = 0.8)



data = [Monday, Tuesday, Wednesday , Thursday , Friday, Saturday, Sunday]

layout = dict(
    title = "Number of trips hourly per day for Midtown Center",

)

fig = dict(data=data, layout=layout)
plotly.offline.iplot(fig, filename = "Number of trips hourly per day for Midtown Center")

# Observation

## Busy days and hours for Midtown center: 
## Thursday and Friday 
## 11pm-3pm | 5pm-7pm | 9pm-10pm

In [161]:

def get_average_taxi_by_hour(df):
    return df['total_amount'].sum()/float(len(df))

summary_day_hour_average_taxi_by_hour = pd.DataFrame(sub_df.groupby('PULocationZone').get_group('Midtown Center').groupby(['tpep_pickup_datetime_day','tpep_pickup_datetime_hour']).apply(get_average_taxi_by_hour))


summary_day_hour_average_taxi_by_hour = summary_day_hour_average_taxi_by_hour.rename(columns = {0:'average_taxi_by_hour'})
summary_day_hour_average_taxi_by_hour.reset_index(level=0, inplace=True)





Monday = go.Scatter(
                x=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Monday'].index,
                y=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Monday']['average_taxi_by_hour'],
                name = "Monday",
                line = dict(color = '#17BECF'),
                opacity = 0.8)

Tuesday = go.Scatter(
                x=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Tuesday'].index,
                y=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Tuesday']['average_taxi_by_hour'],
                name = "Tuesday",
                line = dict(color = '#7F7F7F'),
                opacity = 0.8)

Wednesday = go.Scatter(
                x=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Wednesday'].index,
                y=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Wednesday']['average_taxi_by_hour'],
                name = "Wednesday",
                line = dict(color = '#FFFF00'),
                opacity = 0.8)

Thursday = go.Scatter(
                x=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Thursday'].index,
                y=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Thursday']['average_taxi_by_hour'],
                name = "Thursday",
                line = dict(color = '#00FFFF'),
                opacity = 0.8)

Friday = go.Scatter(
                x=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Friday'].index,
                y=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Friday']['average_taxi_by_hour'],
                name = "Friday",
                line = dict(color = '#FF00FF'),
                opacity = 0.8)

Saturday = go.Scatter(
                x=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Saturday'].index,
                y=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Saturday']['average_taxi_by_hour'],
                name = "Saturday",
                line = dict(color = '#FF0000'),
                opacity = 0.8)

Sunday = go.Scatter(
                x=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Sunday'].index,
                y=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Sunday']['average_taxi_by_hour'],
                name = "Sunday",
                line = dict(color = '#0000FF'),
                opacity = 0.8)



data = [Monday, Tuesday, Wednesday , Thursday , Friday, Saturday, Sunday]

layout = dict(
    title = "Amount per trips hourly per day for Midtown Center",

)

fig = dict(data=data, layout=layout)
plotly.offline.iplot(fig, filename = "Amount per trips hourly per day for Midtown Center")

In [162]:

def get_average_tip_by_hour(df):
    return df['tip_amount'].sum()/float(len(df))

summary_day_hour_average_tip_by_hour = pd.DataFrame(sub_df.groupby('PULocationZone').get_group('Midtown Center').groupby(['tpep_pickup_datetime_day','tpep_pickup_datetime_hour']).apply(get_average_tip_by_hour))


summary_day_hour_average_tip_by_hour = summary_day_hour_average_tip_by_hour.rename(columns = {0:'average_tip_by_hour'})
summary_day_hour_average_tip_by_hour.reset_index(level=0, inplace=True)




Monday = go.Scatter(
                x=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Monday'].index,
                y=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Monday']['average_tip_by_hour'],
                name = "Monday",
                line = dict(color = '#17BECF'),
                opacity = 0.8)

Tuesday = go.Scatter(
                x=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Tuesday'].index,
                y=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Tuesday']['average_tip_by_hour'],
                name = "Tuesday",
                line = dict(color = '#7F7F7F'),
                opacity = 0.8)

Wednesday = go.Scatter(
                x=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Wednesday'].index,
                y=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Wednesday']['average_tip_by_hour'],
                name = "Wednesday",
                line = dict(color = '#FFFF00'),
                opacity = 0.8)

Thursday = go.Scatter(
                x=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Thursday'].index,
                y=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Thursday']['average_tip_by_hour'],
                name = "Thursday",
                line = dict(color = '#00FFFF'),
                opacity = 0.8)

Friday = go.Scatter(
                x=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Friday'].index,
                y=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Friday']['average_tip_by_hour'],
                name = "Friday",
                line = dict(color = '#FF00FF'),
                opacity = 0.8)

Saturday = go.Scatter(
                x=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Saturday'].index,
                y=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Saturday']['average_tip_by_hour'],
                name = "Saturday",
                line = dict(color = '#FF0000'),
                opacity = 0.8)

Sunday = go.Scatter(
                x=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Sunday'].index,
                y=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Sunday']['average_tip_by_hour'],
                name = "Sunday",
                line = dict(color = '#0000FF'),
                opacity = 0.8)



data = [Monday, Tuesday, Wednesday , Thursday , Friday, Saturday, Sunday]

layout = dict(
    title = "Tip per trips hourly per day for Midtown Center",

)

fig = dict(data=data, layout=layout)
plotly.offline.iplot(fig, filename = "Tip per trips hourly per day for Midtown Center")

## Observation 



## Most rewarding hours for Midtown Center


## workdays: 3am-5am | 5pm - 7pm
## weekends: 5am-7am

In [155]:

df = pd.DataFrame(sub_df.groupby('PULocationZone').get_group('Upper East Side South').groupby(['tpep_pickup_datetime_day','tpep_pickup_datetime_hour']).size())
df = df.rename(columns = {0:'Number of Trips'})
df.reset_index(level=0, inplace=True)

Monday = go.Scatter(
                x=df[df['tpep_pickup_datetime_day'] == 'Monday'].index,
                y=df[df['tpep_pickup_datetime_day'] == 'Monday']['Number of Trips'],
                name = "Monday",
                line = dict(color = '#17BECF'),
                opacity = 0.8)

Tuesday = go.Scatter(
                x=df[df['tpep_pickup_datetime_day'] == 'Tuesday'].index,
                y=df[df['tpep_pickup_datetime_day'] == 'Tuesday']['Number of Trips'],
                name = "Tuesday",

                line = dict(color = '#7F7F7F'),
                opacity = 0.8)

Wednesday = go.Scatter(
                x=df[df['tpep_pickup_datetime_day'] == 'Wednesday'].index,
                y=df[df['tpep_pickup_datetime_day'] == 'Wednesday']['Number of Trips'],
                name = "Wednesday",

                line = dict(color = '#FFFF00'),
                opacity = 0.8)

Thursday = go.Scatter(
                x=df[df['tpep_pickup_datetime_day'] == 'Thursday'].index,
                y=df[df['tpep_pickup_datetime_day'] == 'Thursday']['Number of Trips'],
                name = "Thursday",
                line = dict(color = '#00FFFF'),
                opacity = 0.8)

Friday = go.Scatter(
                x=df[df['tpep_pickup_datetime_day'] == 'Friday'].index,
                y=df[df['tpep_pickup_datetime_day'] == 'Friday']['Number of Trips'],
                name = "Friday",

                line = dict(color = '#FF00FF'),
                opacity = 0.8)

Saturday = go.Scatter(
                x=df[df['tpep_pickup_datetime_day'] == 'Saturday'].index,
                y=df[df['tpep_pickup_datetime_day'] == 'Saturday']['Number of Trips'],
                name = "Saturday",

                line = dict(color = '#FF0000'),
                opacity = 0.8)

Sunday = go.Scatter(
                x=df[df['tpep_pickup_datetime_day'] == 'Sunday'].index,
                y=df[df['tpep_pickup_datetime_day'] == 'Sunday']['Number of Trips'],
                name = "Sunday",
    
                line = dict(color = '#0000FF'),
                opacity = 0.8)



data = [Monday, Tuesday, Wednesday , Thursday , Friday, Saturday, Sunday]

layout = dict(
    title = "Number of trips hourly per day for Upper East Side South",

)

fig = dict(data=data, layout=layout)
plotly.offline.iplot(fig, filename = "Number of trips hourly per day for Upper East Side South")

# Observation #6

## Busy days and hours for Upper East Side South: 
## Tuesday, Thursday and Friday 
## 2pm-3pm | 5pm-7pm | 
## 8am-9am only for workdays

In [156]:
def get_average_taxi_by_hour(df):
    return df['total_amount'].sum()/float(len(df))

summary_day_hour_average_taxi_by_hour = pd.DataFrame(sub_df.groupby('PULocationZone').get_group('Upper East Side South').groupby(['tpep_pickup_datetime_day','tpep_pickup_datetime_hour']).apply(get_average_taxi_by_hour))


summary_day_hour_average_taxi_by_hour = summary_day_hour_average_taxi_by_hour.rename(columns = {0:'average_taxi_by_hour'})
summary_day_hour_average_taxi_by_hour.reset_index(level=0, inplace=True)





Monday = go.Scatter(
                x=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Monday'].index,
                y=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Monday']['average_taxi_by_hour'],
                name = "Monday",
                line = dict(color = '#17BECF'),
                opacity = 0.8)

Tuesday = go.Scatter(
                x=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Tuesday'].index,
                y=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Tuesday']['average_taxi_by_hour'],
                name = "Tuesday",
                line = dict(color = '#7F7F7F'),
                opacity = 0.8)

Wednesday = go.Scatter(
                x=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Wednesday'].index,
                y=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Wednesday']['average_taxi_by_hour'],
                name = "Wednesday",
                line = dict(color = '#FFFF00'),
                opacity = 0.8)

Thursday = go.Scatter(
                x=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Thursday'].index,
                y=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Thursday']['average_taxi_by_hour'],
                name = "Thursday",
                line = dict(color = '#00FFFF'),
                opacity = 0.8)

Friday = go.Scatter(
                x=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Friday'].index,
                y=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Friday']['average_taxi_by_hour'],
                name = "Friday",
                line = dict(color = '#FF00FF'),
                opacity = 0.8)

Saturday = go.Scatter(
                x=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Saturday'].index,
                y=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Saturday']['average_taxi_by_hour'],
                name = "Saturday",
                line = dict(color = '#FF0000'),
                opacity = 0.8)

Sunday = go.Scatter(
                x=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Sunday'].index,
                y=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Sunday']['average_taxi_by_hour'],
                name = "Sunday",
                line = dict(color = '#0000FF'),
                opacity = 0.8)



data = [Monday, Tuesday, Wednesday , Thursday , Friday, Saturday, Sunday]

layout = dict(
    title = "Amount per trips hourly per day for Upper East Side South",

)

fig = dict(data=data, layout=layout)
plotly.offline.iplot(fig, filename = "Amount per trips hourly per day for Upper East Side South")

In [157]:
def get_average_tip_by_hour(df):
    return df['tip_amount'].sum()/float(len(df))

summary_day_hour_average_tip_by_hour = pd.DataFrame(sub_df.groupby('PULocationZone').get_group('Upper East Side South').groupby(['tpep_pickup_datetime_day','tpep_pickup_datetime_hour']).apply(get_average_tip_by_hour))


summary_day_hour_average_tip_by_hour = summary_day_hour_average_tip_by_hour.rename(columns = {0:'average_tip_by_hour'})
summary_day_hour_average_tip_by_hour.reset_index(level=0, inplace=True)




Monday = go.Scatter(
                x=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Monday'].index,
                y=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Monday']['average_tip_by_hour'],
                name = "Monday",
                line = dict(color = '#17BECF'),
                opacity = 0.8)

Tuesday = go.Scatter(
                x=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Tuesday'].index,
                y=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Tuesday']['average_tip_by_hour'],
                name = "Tuesday",
                line = dict(color = '#7F7F7F'),
                opacity = 0.8)

Wednesday = go.Scatter(
                x=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Wednesday'].index,
                y=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Wednesday']['average_tip_by_hour'],
                name = "Wednesday",
                line = dict(color = '#FFFF00'),
                opacity = 0.8)

Thursday = go.Scatter(
                x=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Thursday'].index,
                y=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Thursday']['average_tip_by_hour'],
                name = "Thursday",
                line = dict(color = '#00FFFF'),
                opacity = 0.8)

Friday = go.Scatter(
                x=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Friday'].index,
                y=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Friday']['average_tip_by_hour'],
                name = "Friday",
                line = dict(color = '#FF00FF'),
                opacity = 0.8)

Saturday = go.Scatter(
                x=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Saturday'].index,
                y=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Saturday']['average_tip_by_hour'],
                name = "Saturday",
                line = dict(color = '#FF0000'),
                opacity = 0.8)

Sunday = go.Scatter(
                x=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Sunday'].index,
                y=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Sunday']['average_tip_by_hour'],
                name = "Sunday",
                line = dict(color = '#0000FF'),
                opacity = 0.8)



data = [Monday, Tuesday, Wednesday , Thursday , Friday, Saturday, Sunday]

layout = dict(
    title = "Tip per trips hourly per day for Upper East Side South",

)

fig = dict(data=data, layout=layout)
plotly.offline.iplot(fig, filename = "Tip per trips hourly per day for Upper East Side South")

## Observation #8

## Most rewarding hours for upper East Side south

## Most rewarding days Mondays, Wednesday 



## workdays: 3am-5am
## weekends: 5am-6am

In [158]:

df = pd.DataFrame(sub_df.groupby('PULocationZone').get_group('LaGuardia Airport').groupby(['tpep_pickup_datetime_day','tpep_pickup_datetime_hour']).size())
df = df.rename(columns = {0:'Number of Trips'})
df.reset_index(level=0, inplace=True)

Monday = go.Scatter(
                x=df[df['tpep_pickup_datetime_day'] == 'Monday'].index,
                y=df[df['tpep_pickup_datetime_day'] == 'Monday']['Number of Trips'],
                name = "Monday",
                line = dict(color = '#17BECF'),
                opacity = 0.8)

Tuesday = go.Scatter(
                x=df[df['tpep_pickup_datetime_day'] == 'Tuesday'].index,
                y=df[df['tpep_pickup_datetime_day'] == 'Tuesday']['Number of Trips'],
                name = "Tuesday",

                line = dict(color = '#7F7F7F'),
                opacity = 0.8)

Wednesday = go.Scatter(
                x=df[df['tpep_pickup_datetime_day'] == 'Wednesday'].index,
                y=df[df['tpep_pickup_datetime_day'] == 'Wednesday']['Number of Trips'],
                name = "Wednesday",

                line = dict(color = '#FFFF00'),
                opacity = 0.8)

Thursday = go.Scatter(
                x=df[df['tpep_pickup_datetime_day'] == 'Thursday'].index,
                y=df[df['tpep_pickup_datetime_day'] == 'Thursday']['Number of Trips'],
                name = "Thursday",
                line = dict(color = '#00FFFF'),
                opacity = 0.8)

Friday = go.Scatter(
                x=df[df['tpep_pickup_datetime_day'] == 'Friday'].index,
                y=df[df['tpep_pickup_datetime_day'] == 'Friday']['Number of Trips'],
                name = "Friday",

                line = dict(color = '#FF00FF'),
                opacity = 0.8)

Saturday = go.Scatter(
                x=df[df['tpep_pickup_datetime_day'] == 'Saturday'].index,
                y=df[df['tpep_pickup_datetime_day'] == 'Saturday']['Number of Trips'],
                name = "Saturday",

                line = dict(color = '#FF0000'),
                opacity = 0.8)

Sunday = go.Scatter(
                x=df[df['tpep_pickup_datetime_day'] == 'Sunday'].index,
                y=df[df['tpep_pickup_datetime_day'] == 'Sunday']['Number of Trips'],
                name = "Sunday",
    
                line = dict(color = '#0000FF'),
                opacity = 0.8)



data = [Monday, Tuesday, Wednesday , Thursday , Friday, Saturday, Sunday]

layout = dict(
    title = "Number of trips hourly per day for LaGuardia Airport",

)

fig = dict(data=data, layout=layout)
plotly.offline.iplot(fig, filename = "Number of trips hourly per day for LaGuardia Airport")

# Observation #9

## Busy days and hours for LaGuardia Airport and assuming JFK is the same: 
## Workdays (Thursday, Friday and Monday)
## 6pm-10pm for workdays and Sundays

## 9am-11am only for workdays

In [159]:

def get_average_taxi_by_hour(df):
    return df['total_amount'].sum()/float(len(df))

summary_day_hour_average_taxi_by_hour = pd.DataFrame(sub_df.groupby('PULocationZone').get_group('LaGuardia Airport').groupby(['tpep_pickup_datetime_day','tpep_pickup_datetime_hour']).apply(get_average_taxi_by_hour))


summary_day_hour_average_taxi_by_hour = summary_day_hour_average_taxi_by_hour.rename(columns = {0:'average_taxi_by_hour'})
summary_day_hour_average_taxi_by_hour.reset_index(level=0, inplace=True)





Monday = go.Scatter(
                x=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Monday'].index,
                y=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Monday']['average_taxi_by_hour'],
                name = "Monday",
                line = dict(color = '#17BECF'),
                opacity = 0.8)

Tuesday = go.Scatter(
                x=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Tuesday'].index,
                y=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Tuesday']['average_taxi_by_hour'],
                name = "Tuesday",
                line = dict(color = '#7F7F7F'),
                opacity = 0.8)

Wednesday = go.Scatter(
                x=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Wednesday'].index,
                y=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Wednesday']['average_taxi_by_hour'],
                name = "Wednesday",
                line = dict(color = '#FFFF00'),
                opacity = 0.8)

Thursday = go.Scatter(
                x=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Thursday'].index,
                y=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Thursday']['average_taxi_by_hour'],
                name = "Thursday",
                line = dict(color = '#00FFFF'),
                opacity = 0.8)

Friday = go.Scatter(
                x=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Friday'].index,
                y=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Friday']['average_taxi_by_hour'],
                name = "Friday",
                line = dict(color = '#FF00FF'),
                opacity = 0.8)

Saturday = go.Scatter(
                x=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Saturday'].index,
                y=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Saturday']['average_taxi_by_hour'],
                name = "Saturday",
                line = dict(color = '#FF0000'),
                opacity = 0.8)

Sunday = go.Scatter(
                x=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Sunday'].index,
                y=summary_day_hour_average_taxi_by_hour[summary_day_hour_average_taxi_by_hour['tpep_pickup_datetime_day'] == 'Sunday']['average_taxi_by_hour'],
                name = "Sunday",
                line = dict(color = '#0000FF'),
                opacity = 0.8)



data = [Monday, Tuesday, Wednesday , Thursday , Friday, Saturday, Sunday]

layout = dict(
    title = "Amount per trips hourly per day for LaGuardia Airport",

)

fig = dict(data=data, layout=layout)
plotly.offline.iplot(fig, filename = "Amount per trips hourly per day for LaGuardia Airport")

In [160]:

def get_average_tip_by_hour(df):
    return df['tip_amount'].sum()/float(len(df))

summary_day_hour_average_tip_by_hour = pd.DataFrame(sub_df.groupby('PULocationZone').get_group('LaGuardia Airport').groupby(['tpep_pickup_datetime_day','tpep_pickup_datetime_hour']).apply(get_average_tip_by_hour))


summary_day_hour_average_tip_by_hour = summary_day_hour_average_tip_by_hour.rename(columns = {0:'average_tip_by_hour'})
summary_day_hour_average_tip_by_hour.reset_index(level=0, inplace=True)




Monday = go.Scatter(
                x=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Monday'].index,
                y=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Monday']['average_tip_by_hour'],
                name = "Monday",
                line = dict(color = '#17BECF'),
                opacity = 0.8)

Tuesday = go.Scatter(
                x=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Tuesday'].index,
                y=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Tuesday']['average_tip_by_hour'],
                name = "Tuesday",
                line = dict(color = '#7F7F7F'),
                opacity = 0.8)

Wednesday = go.Scatter(
                x=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Wednesday'].index,
                y=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Wednesday']['average_tip_by_hour'],
                name = "Wednesday",
                line = dict(color = '#FFFF00'),
                opacity = 0.8)

Thursday = go.Scatter(
                x=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Thursday'].index,
                y=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Thursday']['average_tip_by_hour'],
                name = "Thursday",
                line = dict(color = '#00FFFF'),
                opacity = 0.8)

Friday = go.Scatter(
                x=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Friday'].index,
                y=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Friday']['average_tip_by_hour'],
                name = "Friday",
                line = dict(color = '#FF00FF'),
                opacity = 0.8)

Saturday = go.Scatter(
                x=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Saturday'].index,
                y=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Saturday']['average_tip_by_hour'],
                name = "Saturday",
                line = dict(color = '#FF0000'),
                opacity = 0.8)

Sunday = go.Scatter(
                x=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Sunday'].index,
                y=summary_day_hour_average_tip_by_hour[summary_day_hour_average_tip_by_hour['tpep_pickup_datetime_day'] == 'Sunday']['average_tip_by_hour'],
                name = "Sunday",
                line = dict(color = '#0000FF'),
                opacity = 0.8)



data = [Monday, Tuesday, Wednesday , Thursday , Friday, Saturday, Sunday]

layout = dict(
    title = "Tip per trips hourly per day for LaGuardia Airport",

)

fig = dict(data=data, layout=layout)
plotly.offline.iplot(fig, filename = "Tip per trips hourly per day for LaGuardia Airport")

## Observation #10

## Most rewarding hours for LaGuardia Airport

## workdays: 7am-5pm
## weekends: 11am-5pm

## Observation

## Comparing taking rides from an airport zone (JFK and LaGuardia) with Manhattan
### airports ride are more rewarding (tips and amounts) but take longer time to finish

In [263]:
area_zone_df2 = pd.DataFrame (sub_df.groupby('PULocationZone')['total_amount'].sum())

area_zone_df = pd.merge(area_zone_df, area_zone_df2, how='left', on=['PULocationZone'])
area_zone_df.head()

                         Number_of_trips         total_amount
PULocationZone
Allerton/Pelham Gardens               14               375.14
Alphabet City                      14354           233,040.60
Arrochar/Fort Wadsworth               10               649.45
Astoria                             6286           106,404.71
Astoria Park                          74             2,339.00

In [264]:
area_zone_df['average_taxi_amount'] = area_zone_df['total_amount'] / area_zone_df['Number_of_trips']
area_zone_df.head()

,Number_of_trips,total_amount,average_taxi_amount
PULocationZone,,,
Allerton/Pelham Gardens,14,375.14,26.80
Alphabet City,14354,"233,040.60",16.24
Arrochar/Fort Wadsworth,10,649.45,64.94
Astoria,6286,"106,404.71",16.93
Astoria Park,74,"2,339.00",31.61

In [265]:

area_zone_df3 = pd.DataFrame (sub_df.groupby('PULocationZone')['tip_amount'].sum())

area_zone_df = pd.merge(area_zone_df, area_zone_df3, how='left', on=['PULocationZone'])
area_zone_df.head()

,Number_of_trips,total_amount,average_taxi_amount,tip_amount
PULocationZone,,,,
Allerton/Pelham Gardens,14,375.14,26.80,87.32
Alphabet City,14354,"233,040.60",16.24,"36,444.46"
Arrochar/Fort Wadsworth,10,649.45,64.94,94.65
Astoria,6286,"106,404.71",16.93,"17,334.88"
Astoria Park,74,"2,339.00",31.61,391.72

In [266]:
area_zone_df['average_tip'] = area_zone_df['tip_amount'] / area_zone_df['Number_of_trips']
area_zone_df.head()

,Number_of_trips,total_amount,average_taxi_amount,tip_amount,average_tip
PULocationZone,,,,,
Allerton/Pelham Gardens,14,375.14,26.80,87.32,6.24
Alphabet City,14354,"233,040.60",16.24,"36,444.46",2.54
Arrochar/Fort Wadsworth,10,649.45,64.94,94.65,9.46
Astoria,6286,"106,404.71",16.93,"17,334.88",2.76
Astoria Park,74,"2,339.00",31.61,391.72,5.29

In [271]:
area_zone_df['Number_of_trips_weight'] = area_zone_df['Number_of_trips'] / float(area_zone_df['Number_of_trips'].sum()) * 100
area_zone_df.head()

,Number_of_trips,total_amount,average_taxi_amount,tip_amount,average_tip,Number_of_trips_weight
PULocationZone,,,,,,
Allerton/Pelham Gardens,14,375.14,26.80,87.32,6.24,0.00
Alphabet City,14354,"233,040.60",16.24,"36,444.46",2.54,0.23
Arrochar/Fort Wadsworth,10,649.45,64.94,94.65,9.46,0.00
Astoria,6286,"106,404.71",16.93,"17,334.88",2.76,0.10
Astoria Park,74,"2,339.00",31.61,391.72,5.29,0.00

In [277]:
area_zone_df['average_tip_X_Number_of_trips_weight'] = area_zone_df['average_tip'] * area_zone_df['Number_of_trips_weight']
area_zone_df.head()

,Number_of_trips,total_amount,average_taxi_amount,tip_amount,average_tip,Number_of_trips_weight,average_tip_X_Number_of_trips_weight
PULocationZone,,,,,,,
Allerton/Pelham Gardens,14,375.14,26.80,87.32,6.24,0.00,0.00
Alphabet City,14354,"233,040.60",16.24,"36,444.46",2.54,0.23,0.59
Arrochar/Fort Wadsworth,10,649.45,64.94,94.65,9.46,0.00,0.00
Astoria,6286,"106,404.71",16.93,"17,334.88",2.76,0.10,0.28
Astoria Park,74,"2,339.00",31.61,391.72,5.29,0.00,0.01

In [278]:
area_zone_df['average_taxi_amount_X_Number_of_trips_weight'] = area_zone_df['average_taxi_amount'] * area_zone_df['Number_of_trips_weight']
area_zone_df.head()

,Number_of_trips,total_amount,average_taxi_amount,tip_amount,average_tip,Number_of_trips_weight,average_tip_X_Number_of_trips_weight,average_taxi_amount_X_Number_of_trips_weight
PULocationZone,,,,,,,,
Allerton/Pelham Gardens,14,375.14,26.80,87.32,6.24,0.00,0.00,0.01
Alphabet City,14354,"233,040.60",16.24,"36,444.46",2.54,0.23,0.59,3.76
Arrochar/Fort Wadsworth,10,649.45,64.94,94.65,9.46,0.00,0.00,0.01
Astoria,6286,"106,404.71",16.93,"17,334.88",2.76,0.10,0.28,1.72
Astoria Park,74,"2,339.00",31.61,391.72,5.29,0.00,0.01,0.04

In [280]:
area_zone_df.sort_values(by=['average_taxi_amount_X_Number_of_trips_weight'],ascending=False)

,Number_of_trips,total_amount,average_taxi_amount,tip_amount,average_tip,Number_of_trips_weight,average_tip_X_Number_of_trips_weight,average_taxi_amount_X_Number_of_trips_weight
PULocationZone,,,,,,,,
LaGuardia Airport,201275,"9,510,894.88",47.25,"1,562,527.59",7.76,3.25,25.23,153.55
JFK Airport,117402,"7,314,794.32",62.31,"1,150,573.78",9.80,1.90,18.58,118.10
Midtown Center,230705,"3,791,671.85",16.44,"621,565.15",2.69,3.72,10.04,61.22
Midtown East,222951,"3,605,899.62",16.17,"589,262.33",2.64,3.60,9.51,58.22
Times Sq/Theatre District,178216,"3,309,709.76",18.57,"548,193.67",3.08,2.88,8.85,53.43
Murray Hill,213915,"3,309,591.67",15.47,"533,105.57",2.49,3.45,8.61,53.43
Penn Station/Madison Sq West,199753,"3,231,963.88",16.18,"536,926.06",2.69,3.22,8.67,52.18
Union Sq,217285,"3,230,810.70",14.87,"519,430.40",2.39,3.51,8.39,52.16
Upper East Side South,238038,"3,114,666.56",13.08,"500,870.12",2.10,3.84,8.09,50.29
Upper East Side North,222853,"3,049,901.24",13.69,"483,881.96",2.17,3.60,7.81,49.24
East Village,188864,"2,869,556.44",15.19,"457,741.69",2.42,3.05,7.39,46.33
Clinton East,179330,"2,822,355.24",15.74,"460,147.92",2.57,2.90,7.43,45.57
Midtown North,160527,"2,680,013.30",16.70,"437,697.57",2.73,2.59,7.07,43.27
Lincoln Square East,178276,"2,604,622.02",14.61,"419,906.92",2.36,2.88,6.78,42.05
Gramercy,159460,"2,330,140.88",14.61,"371,992.86",2.33,2.57,6.01,37.62
Midtown South,145059,"2,321,028.58",16.00,"373,925.95",2.58,2.34,6.04,37.47
Upper West Side South,162033,"2,317,921.17",14.31,"374,495.49",2.31,2.62,6.05,37.42
East Chelsea,147154,"2,312,362.59",15.71,"371,957.77",2.53,2.38,6.01,37.33
TriBeCa/Civic Center,123038,"2,155,207.46",17.52,"343,363.76",2.79,1.99,5.54,34.80
West Village,136675,"2,034,012.84",14.88,"327,115.87",2.39,2.21,5.28,32.84
Lenox Hill West,141132,"1,915,253.43",13.57,"302,984.94",2.15,2.28,4.89,30.92
Flatiron,122810,"1,769,425.75",14.41,"284,085.11",2.31,1.98,4.59,28.57
Upper West Side North,119624,"1,714,470.58",14.33,"273,274.88",2.28,1.93,4.41,27.68
Sutton Place/Turtle Bay North,118546,"1,713,734.89",14.46,"274,488.12",2.32,1.91,4.43,27.67
Garment District,106797,"1,692,459.24",15.85,"275,916.40",2.58,1.72,4.45,27.32
Lower East Side,96895,"1,628,748.47",16.81,"257,896.81",2.66,1.56,4.16,26.30
Lenox Hill East,104821,"1,610,364.40",15.36,"252,213.66",2.41,1.69,4.07,26.00
Yorkville West,111707,"1,602,963.63",14.35,"252,360.29",2.26,1.80,4.07,25.88
West Chelsea/Hudson Yards,98002,"1,571,047.83",16.03,"250,662.06",2.56,1.58,4.05,25.36
Greenwich Village North,104733,"1,535,812.80",14.66,"247,421.82",2.36,1.69,3.99,24.80
...,...,...,...,...,...,...,...,...
Oakland Gardens,7,272.65,38.95,53.79,7.68,0.00,0.00,0.00
Rockaway Park,4,269.83,67.46,106.05,26.51,0.00,0.00,0.00
Van Cortlandt Park,11,257.18,23.38,43.74,3.98,0.00,0.00,0.00
Bensonhurst East,9,248.57,27.62,29.86,3.32,0.00,0.00,0.00
Longwood,14,240.00,17.14,31.70,2.26,0.00,0.00,0.00
Governor's Island/Ellis Island/Liberty Island,10,239.32,23.93,36.56,3.66,0.00,0.00,0.00
Bronxdale,7,225.22,32.17,62.72,8.96,0.00,0.00,0.00
Claremont/Bathgate,17,220.30,12.96,33.75,1.99,0.00,0.00,0.00
Westerleigh,3,214.61,71.54,40.71,13.57,0.00,0.00,0.00
West Farms/Bronx River,9,210.07,23.34,43.47,4.83,0.00,0.00,0.00
Williamsbridge/Olinville,10,197.35,19.74,28.00,2.80,0.00,0.00,0.00
Green-Wood Cemetery,12,197.29,16.44,34.19,2.85,0.00,0.00,0.00
Glen Oaks,7,195.54,27.93,34.19,4.88,0.00,0.00,0.00
East Tremont,11,190.54,17.32,31.72,2.88,0.00,0.00,0.00
Co-Op City,4,179.63,44.91,99.22,24.80,0.00,0.00,0.00
Eastchester,6,140.83,23.47,17.78,2.96,0.00,0.00,0.00
Pelham Bay,5,140.30,28.06,22.90,4.58,0.00,0.00,0.00
Hollis,5,121.96,24.39,15.56,3.11,0.00,0.00,0.00
East Flushing,2,112.11,56.05,17.75,8.88,0.00,0.00,0.00
South Beach/Dongan Hills,2,111.71,55.85,19.11,9.55,0.00,0.00,0.00
Auburndale,5,107.40,21.48,12.10,2.42,0.00,0.00,0.00
Charleston/Tottenville,1,106.55,106.55,17.75,17.75,0.00,0.00,0.00
Broad Channel,2,102.43,51.22,23.41,11.71,0.00,0.00,0.00
Port Richmond,1,95.80,95.80,83.00,83.00,0.00,0.00,0.00
Saint George/New Brighton,5,88.66,17.73,12.90,2.58,0.00,0.00,0.00
New Dorp/Midland Beach,2,42.16,21.08,8.06,4.03,0.00,0.00,0.00
Country Club,1,14.49,14.49,1.24,1.24,0.00,0.00,0.00
Heartland Village/Todt Hill,1,10.56,10.56,1.76,1.76,0.00,0.00,0.00
Crotona Park,1,8.75,8.75,0.50,0.50,0.00,0.00,0.00
City Island,1,6.00,6.00,1.20,1.20,0.00,0.00,0.00

In [281]:
area_zone_df.sort_values(by=['average_tip_X_Number_of_trips_weight'],ascending=False)

,Number_of_trips,total_amount,average_taxi_amount,tip_amount,average_tip,Number_of_trips_weight,average_tip_X_Number_of_trips_weight,average_taxi_amount_X_Number_of_trips_weight
PULocationZone,,,,,,,,
LaGuardia Airport,201275,"9,510,894.88",47.25,"1,562,527.59",7.76,3.25,25.23,153.55
JFK Airport,117402,"7,314,794.32",62.31,"1,150,573.78",9.80,1.90,18.58,118.10
Midtown Center,230705,"3,791,671.85",16.44,"621,565.15",2.69,3.72,10.04,61.22
Midtown East,222951,"3,605,899.62",16.17,"589,262.33",2.64,3.60,9.51,58.22
Times Sq/Theatre District,178216,"3,309,709.76",18.57,"548,193.67",3.08,2.88,8.85,53.43
Penn Station/Madison Sq West,199753,"3,231,963.88",16.18,"536,926.06",2.69,3.22,8.67,52.18
Murray Hill,213915,"3,309,591.67",15.47,"533,105.57",2.49,3.45,8.61,53.43
Union Sq,217285,"3,230,810.70",14.87,"519,430.40",2.39,3.51,8.39,52.16
Upper East Side South,238038,"3,114,666.56",13.08,"500,870.12",2.10,3.84,8.09,50.29
Upper East Side North,222853,"3,049,901.24",13.69,"483,881.96",2.17,3.60,7.81,49.24
Clinton East,179330,"2,822,355.24",15.74,"460,147.92",2.57,2.90,7.43,45.57
East Village,188864,"2,869,556.44",15.19,"457,741.69",2.42,3.05,7.39,46.33
Midtown North,160527,"2,680,013.30",16.70,"437,697.57",2.73,2.59,7.07,43.27
Lincoln Square East,178276,"2,604,622.02",14.61,"419,906.92",2.36,2.88,6.78,42.05
Upper West Side South,162033,"2,317,921.17",14.31,"374,495.49",2.31,2.62,6.05,37.42
Midtown South,145059,"2,321,028.58",16.00,"373,925.95",2.58,2.34,6.04,37.47
Gramercy,159460,"2,330,140.88",14.61,"371,992.86",2.33,2.57,6.01,37.62
East Chelsea,147154,"2,312,362.59",15.71,"371,957.77",2.53,2.38,6.01,37.33
TriBeCa/Civic Center,123038,"2,155,207.46",17.52,"343,363.76",2.79,1.99,5.54,34.80
West Village,136675,"2,034,012.84",14.88,"327,115.87",2.39,2.21,5.28,32.84
Lenox Hill West,141132,"1,915,253.43",13.57,"302,984.94",2.15,2.28,4.89,30.92
Flatiron,122810,"1,769,425.75",14.41,"284,085.11",2.31,1.98,4.59,28.57
Garment District,106797,"1,692,459.24",15.85,"275,916.40",2.58,1.72,4.45,27.32
Sutton Place/Turtle Bay North,118546,"1,713,734.89",14.46,"274,488.12",2.32,1.91,4.43,27.67
Upper West Side North,119624,"1,714,470.58",14.33,"273,274.88",2.28,1.93,4.41,27.68
Lower East Side,96895,"1,628,748.47",16.81,"257,896.81",2.66,1.56,4.16,26.30
Yorkville West,111707,"1,602,963.63",14.35,"252,360.29",2.26,1.80,4.07,25.88
Lenox Hill East,104821,"1,610,364.40",15.36,"252,213.66",2.41,1.69,4.07,26.00
West Chelsea/Hudson Yards,98002,"1,571,047.83",16.03,"250,662.06",2.56,1.58,4.05,25.36
Greenwich Village North,104733,"1,535,812.80",14.66,"247,421.82",2.36,1.69,3.99,24.80
...,...,...,...,...,...,...,...,...
Bedford Park,12,345.27,28.77,50.25,4.19,0.00,0.00,0.01
Madison,15,390.97,26.06,49.87,3.32,0.00,0.00,0.01
Van Cortlandt Park,11,257.18,23.38,43.74,3.98,0.00,0.00,0.00
West Farms/Bronx River,9,210.07,23.34,43.47,4.83,0.00,0.00,0.00
Jamaica Bay,6,310.45,51.74,42.37,7.06,0.00,0.00,0.01
Fordham South,14,281.53,20.11,41.38,2.96,0.00,0.00,0.00
Laurelton,7,323.64,46.23,41.03,5.86,0.00,0.00,0.01
Westerleigh,3,214.61,71.54,40.71,13.57,0.00,0.00,0.00
Governor's Island/Ellis Island/Liberty Island,10,239.32,23.93,36.56,3.66,0.00,0.00,0.00
Glen Oaks,7,195.54,27.93,34.19,4.88,0.00,0.00,0.00
Green-Wood Cemetery,12,197.29,16.44,34.19,2.85,0.00,0.00,0.00
Claremont/Bathgate,17,220.30,12.96,33.75,1.99,0.00,0.00,0.00
East Tremont,11,190.54,17.32,31.72,2.88,0.00,0.00,0.00
Longwood,14,240.00,17.14,31.70,2.26,0.00,0.00,0.00
Bensonhurst East,9,248.57,27.62,29.86,3.32,0.00,0.00,0.00
Williamsbridge/Olinville,10,197.35,19.74,28.00,2.80,0.00,0.00,0.00
Broad Channel,2,102.43,51.22,23.41,11.71,0.00,0.00,0.00
Pelham Bay,5,140.30,28.06,22.90,4.58,0.00,0.00,0.00
South Beach/Dongan Hills,2,111.71,55.85,19.11,9.55,0.00,0.00,0.00
Eastchester,6,140.83,23.47,17.78,2.96,0.00,0.00,0.00
Charleston/Tottenville,1,106.55,106.55,17.75,17.75,0.00,0.00,0.00
East Flushing,2,112.11,56.05,17.75,8.88,0.00,0.00,0.00
Hollis,5,121.96,24.39,15.56,3.11,0.00,0.00,0.00
Saint George/New Brighton,5,88.66,17.73,12.90,2.58,0.00,0.00,0.00
Auburndale,5,107.40,21.48,12.10,2.42,0.00,0.00,0.00
New Dorp/Midland Beach,2,42.16,21.08,8.06,4.03,0.00,0.00,0.00
Heartland Village/Todt Hill,1,10.56,10.56,1.76,1.76,0.00,0.00,0.00
Country Club,1,14.49,14.49,1.24,1.24,0.00,0.00,0.00
City Island,1,6.00,6.00,1.20,1.20,0.00,0.00,0.00
Crotona Park,1,8.75,8.75,0.50,0.50,0.00,0.00,0.00